[2020-02-11 17:37] KPostOffice commented on #1586
I just realized I ran `test` not the actual sieve

[2020-02-11 17:42] fridex commented on #1586
The dump is from today, the exception was spotted yesterday. Seems like we can dump correctly but some issue raises in the cluster.

Is the issue still replicable in the cluster for the same query?

[2020-02-11 17:43] KPostOffice commented on #1586
I ran it again in the cluster and the same issue persists today.

[2020-02-11 18:40] KPostOffice commented on #1586
https://github.com/thoth-station/storages/blob/975bbf31add9a2b6265f417739cdfaa622742b85/thoth/storages/graph/postgres.py#L2835

[2020-02-12 14:42] pacospace opened #1594 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-02-12 15:04] #1594 closed

[2020-02-13 08:03] fridex opened #1598 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-02-13 08:34] #1598 closed

[2020-02-17 15:33] #1573 closed

[2020-02-19 09:26] CermakM opened #1607 "Sort columns in performance indicators"
The current sorting is as follows:

<table style="border-collapse:collapse">
<tr><th>origin</th><th>version</th><th>overall_score</th><th>exit_code</th><th>ru_utime</th><th>ru_stime</th><th>ru_maxrss</th><th>ru_ixrss</th><th>ru_idrss</th><th>ru_isrss</th><th>ru_minflt</th><th>ru_majflt</th><th>ru_nswap</th><th>ru_inblock</th><th>ru_oublock</th><th>ru_msgsnd</th><th>ru_msgrcv</th><th>ru_nsignals</t

[2020-02-19 14:05] harshad16 opened #1608 "Noticed an alembic hash mismatch when executed the init-job on initialized DB ."
**Describe the bug**
Noticed an alembic hash mismatch when executed the init-job which initializes in the prod environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Manually initialize the environment.
2. Run init-job in the environment.

**Expected behavior**
Run without interruptions.

**Additional context**
[code]

[2020-02-19 17:14] sentry-io[bot] opened #1609 "InternalError: (psycopg2.errors.DataCorrupted) could not read block 156 in file "base/12406/25192": read only 0 ..."
Sentry Issue: [THOTH-1NEQ](https://sentry.io/organizations/thoth-station/issues/1521271126/?referrer=github_integration)

[code]

[2020-02-25 11:48] fridex opened #1621 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-02-26 09:07] #1621 closed

[2020-02-26 09:25] fridex opened #1625 "Failure in updating database schema in stage due to is_missing set to NULL"
**Describe the bug**

[code]

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to update database schema in stage
2. See error

**Expected behavior**

Database schema migration should succeed.

[2020-02-26 10:00] #1625 closed

[2020-02-27 08:10] sentry-io[bot] opened #1628 "InternalError: (psycopg2.errors.DataCorrupted) could not read block 156 in file "base/12406/25192": read only 0 ..."
Sentry Issue: [THOTH-1NG8](https://sentry.io/organizations/thoth-station/issues/1529203690/?referrer=github_integration)

[code]

[2020-02-29 06:35] sesheta opened #1634 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 5dc0fcec4bc1c2a5ab8dcb758fa1f3da68436040.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-03-10 19:23] sesheta commented on #1634
Closing this issue as it is no longer relevant for the current master with SHA 560de80ebff4b3a13bb311b09fc377844f238d64.

[2020-03-10 19:23] #1634 closed

[2020-03-18 18:52] fridex opened #1655 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-03-19 22:40] #1655 closed

[2020-03-19 22:40] fridex opened #1661 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-03-20 01:24] #1661 closed

[2020-03-23 08:29] sentry-io[bot] opened #1667 "SolverNotRun: Trying to sync package 'aioconsole' in version '0.1.15' not solved by solver-ubi-8-3.6"
Sentry Issue: [THOTH-1NGD](https://sentry.io/organizations/thoth-station/issues/1529266131/?referrer=github_integration)

[code]

[2020-03-24 07:36] #18 closed

[2020-03-25 12:08] pacospace opened #1675 "PythonSoftwareStack table has three records!!"
**Describe the bug**
`PythonSoftwareStack` currently has three columns: `software_stack_type`, `performance_score` and `overall_score`. This table is linked to `PythonRequirementsLocked` and `ExternalPythonRequirementsLocked` which are respectively linked to `PythonPackageVersion` and `PythonPackageVersionEntity`. Every service that sync a software stack (Adviser, Amun, etc..) is currently referri

[2020-03-25 12:16] fridex commented on #1675
Other solutions as discussed on the call:

 1. add columns referring `PythonRequirementsLocked.id`, `ExternalPythonRequirementsLocked.id`, and `PythonRequirements.id` to the `PythonSoftwareStack` table - this need to be verified if possible as there is "chicken-egg" problem with the linked tables (should be possible as it is part of one transaction)

2. remove `PythonSoftwareStack.id` from `Python

[2020-03-25 12:21] pacospace commented on #1675
But in this way we would have many `PythonSoftwareStack` created for each `PythonRequirementsLocked`, `ExternalPythonRequirementsLocked` as they are created for each `PythonPackageVersion` or `PythonpackageVersionEntity` respectively.

[2020-03-26 10:19] #1436 closed

[2020-03-27 09:51] pacospace opened #1685 "Adviser sync of adviser run that need to modify need_re_run flag fails when using to_dict method"
**Describe the bug**
method `to_dict()` in models_base.py convert all values to string, which cannot be used in upsert method, as bool type are converted to string and therefore the error is arose.

**To Reproduce**
Steps to reproduce the behavior:
1. Sync adviser run with unsolved packages
2. Sync adviser run that has been re_run with adviser_run id of point 1.

**Expected behavior**
Bool value o

[2020-03-27 12:13] #1685 closed

[2020-03-27 12:14] pacospace opened #1688 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-03-27 14:04] #1688 closed

[2020-03-30 08:32] fridex opened #1692 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-03-30 10:33] #1692 closed

[2020-04-01 13:41] sesheta opened #1699 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 569459c7c64f5f2eddb1b902002bec830cadf723.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-04-01 15:30] sesheta commented on #1699
Closing this issue as it is no longer relevant for the current master with SHA 569459c7c64f5f2eddb1b902002bec830cadf723.

[2020-04-01 15:30] #1699 closed

[2020-04-03 15:21] fridex opened #1704 "Schema initialization or any query fails on management-api deployed in test"
**Describe the bug**

[code]

[2020-04-06 09:47] pacospace commented on #1704
I cannot replicate that error locally, I'm using `pg_dump-20-03-27-00-02-11.sql`

[2020-04-13 14:38] pacospace commented on #1704
The issue seems to be duplicates rows in the database, due to copy of data during restore of the database in test environment. The data should be deleted before, otherwise, copies of records will be created and this will create issues for records that need to be unique (e.g adviser run).

[2020-04-13 15:43] harshad16 commented on #1704
Test database restore was having an issue, due to resources.
It prompts not enough disk.

I have created a ceph based PVC with storage 20Gb in Test.
And Restore the database from stage dump.

[2020-04-13 16:05] harshad16 commented on #1704
There the initialize schema from user-api.
[code]
Seems like it worked.

[2020-04-14 06:59] fridex commented on #1704
@harshad16 can we close this issue?

[2020-04-14 10:55] pacospace commented on #1704
The schema in test is update now. We can move `management-api` to stage and update schema in stage as well, WDYT?

[2020-04-14 10:58] fridex commented on #1704
+1 on my side

[2020-04-14 11:07] pacospace commented on #1704
Done!

[2020-04-14 12:54] #1704 closed

[2020-04-17 13:35] pacospace opened #1717 "Wrong value for metadata author for TensorFlow from AICoE."
**Describe the bug**
Wrong value for metadata author for TensorFlow from AICoE.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  [thoth-integration-tests](https://github.com/thoth-station/integration-tests)
2. Run `THOTH_USER_API_URL=khemenu.thoth-station.ninja THOTH_MANAGEMENT_API_HOST=management.stage.thoth-station.ninja pipenv run behave -i package_metadata`

**Expected behavior**
A

[2020-04-19 17:11] harshad16 opened #1719 "sqlalchemy package hash mismatch"
**Describe the bug**
 Sqlachemy hash mismatch due the release of new wheels file, earlier we use to compile it from source,with the wheel files existing in pypi. pipenv or micropipenv tries to install it from wheels

The hash present in the Pipfile.lock
https://github.com/thoth-station/storages/blob/224fa67cd5a9b9c106e5750127cebb54f55a8d33/Pipfile.lock#L561
is pointing to the source installation p

[2020-04-20 09:08] sesheta opened #1721 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 224fa67cd5a9b9c106e5750127cebb54f55a8d33.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-04-20 11:09] sesheta commented on #1721
Closing this issue as it is no longer relevant for the current master with SHA 224fa67cd5a9b9c106e5750127cebb54f55a8d33.

[2020-04-20 11:09] #1721 closed

[2020-04-22 12:12] #1719 closed

[2020-04-27 08:47] pacospace opened #1733 "Issue syncing solver results"
**Describe the bug**
Solvers workflows task for graph-sync is failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver for `textdistance===4.2.0` from PyPI
2. Watch solver workflow created

**Expected behavior**
Solver results are synced successfully in the Thoth database.

**Screenshots**
[code]

**Additional context**
We recently updated graph-sync-job image on quay because

[2020-04-27 08:48] pacospace commented on #1733
I already found the issue, open a PR soon

[2020-04-27 09:09] #1733 closed

[2020-04-27 09:10] fridex opened #1735 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-04-27 09:32] #1735 closed

[2020-04-27 15:45] pacospace opened #1737 "Cannot sync results of adviser with ubi-8"
**Describe the bug**
Graph-sync-job for adviser report is not able to sync reports where solver requested is ubi-8.

**To Reproduce**
Steps to reproduce the behavior:
1. Run adviser workflow with runtime environment requested ubi-8.

**Expected behavior**
Graph-sync-job syncs adviser reports with ubi-8 requested in configuration correctly.

**Screenshots**
[code]

**Additional context**
It was spo

[2020-04-27 15:46] pacospace commented on #1737
Thanks @harshad16, I'm going to solve it in next PR and release new version of thoth-storages :)

[2020-04-27 18:51] #1737 closed

[2020-04-27 18:52] fridex opened #1739 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-04-28 12:34] #1739 closed

[2020-04-28 18:08] sesheta opened #1744 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 398cee4b88bedebc9b1dcda190cf14e1edc10df4.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-04-28 20:28] sesheta commented on #1744
Closing this issue as it is no longer relevant for the current master with SHA 398cee4b88bedebc9b1dcda190cf14e1edc10df4.

[2020-04-28 20:28] #1744 closed

[2020-04-30 13:33] sesheta opened #1749 "Failed to replicate environment for updates"
Unable to replicate environment provided in [Pipfile.lock](https://raw.githubusercontent.com/thoth-station/storages/master/Pipfile.lock).
Linked SHA - f7fade3d38474355c8dbcbf716d7fb26b56dbc9a

Most likely the deployment build will fail.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<det

[2020-05-03 17:02] sesheta opened #1751 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA f7fade3d38474355c8dbcbf716d7fb26b56dbc9a.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-05-03 19:37] sesheta commented on #1751
Closing this issue as it is no longer relevant for the current master with SHA f7fade3d38474355c8dbcbf716d7fb26b56dbc9a.

[2020-05-03 19:37] #1751 closed

[2020-05-05 19:22] #1749 closed

[2020-05-13 13:53] pacospace opened #1760 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-05-13 15:45] #1760 closed

[2020-05-21 21:32] sesheta opened #1778 "new patch release"

[2020-05-22 07:38] #1778 closed

[2020-05-28 17:08] pacospace opened #1789 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-05-29 02:53] #1789 closed

[2020-05-30 15:19] goern commented on #1717
@harshad16 ping

[2020-05-30 15:20] goern commented on #1667
@pacospace ping

[2020-05-30 15:21] goern commented on #1628
@fridex is this a flake?

[2020-05-30 15:35] goern commented on #1586
ping @KPostOffice

[2020-06-01 06:41] fridex commented on #1628
The original report in sentry is not available anymore so cannot check from which deployment this came from. I saw these errors when we used nfs as a persistent volume, it seemed to me the issue vanished with Ceph based pv. I'll close this issue for now. If the issue will occur again (eventually), let's try to fix it.

[2020-06-01 06:41] #1628 closed

[2020-06-01 09:47] pacospace commented on #1667
This is a known error that we solved in `thoth-storages` release `0.22.9`: https://github.com/thoth-station/storages/pull/1742.
Moreover `thoth-storages` is currently in version `0.22.12`: https://pypi.org/project/thoth-storages/

Problem:
`graph-sync-job` used on MOC is very old: https://quay.io/repository/thoth-station/graph-sync-job?tab=tags

From the logs of the error we can see that graph-syn

[2020-06-01 09:56] goern commented on #1667
then let's create a new release for graph-sync-job

[2020-06-01 10:03] pacospace commented on #1667
https://github.com/thoth-station/graph-sync-job/issues/431

[2020-06-01 14:35] pacospace commented on #1667
`Released 0.6.2` https://github.com/thoth-station/graph-sync-job/pull/433#event-3393311106

[2020-06-01 19:40] pacospace commented on #1667
It can be closed, if we use https://quay.io/repository/thoth-station/graph-sync-job?tab=tags 0.6.2 on going

[2020-06-01 19:41] #1667 closed

[2020-06-02 18:05] KPostOffice commented on #1586
https://access.crunchydata.com/documentation/amcheck-next/1.5/

This seems like an issue which we can work on detecting outside of errors like this but will require intervention to restore data.  One option might be to periodically call `amcheck` and determine what data has been corrupted, then come up with a standardized way to recover the data or safely remove it from the DB and then schedule so

[2020-06-08 11:55] fridex opened #1802 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-06-09 12:48] pacospace opened #1804 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-06-09 12:49] pacospace commented on #1804
https://github.com/thoth-station/storages/issues/1802

[2020-06-09 12:50] #1802 closed

[2020-06-11 10:17] fridex commented on #1804
Thanks! :+1:

[2020-06-11 19:40] KPostOffice commented on #1586
https://docs.google.com/document/d/1onhwI_3GGLfmAtZ74WDij_03kCk3Fn4ZoU0iDxCJkq4/edit

I was able to do this locally. I haven't been able to intentionally create an issue but this should be able to alert us to corruption within the database if we run this periodically

Once this is implemented we have to come up with some way of keeping track of what was removed from the database or what has been d

[2020-06-11 19:57] fridex commented on #1586
How long does it take to execute? Can we turn it into an alert?

[2020-06-11 19:58] pacospace opened #1810 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-06-11 20:16] KPostOffice commented on #1586
It take about 10-15 seconds locally

[2020-06-11 20:20] fridex commented on #1586
Sounds reasonable to add it.

CC @pacospace

[2020-06-15 14:37] pacospace commented on #1586
@KPostOffice Great!! I will embed this work and have a metric and alarm!!

[2020-06-16 19:15] fridex opened #1817 "Failed to update schema to 9542eba46906"
**Describe the bug**

[code]

**To Reproduce**

1. Try to update schema in stage environment

**Expected behavior**

The schema gets updated.

[2020-06-16 20:10] #1817 closed

[2020-06-18 10:38] pacospace opened #1825 "Some of graph-sync-solvers are failing due to duplicates"
**Describe the bug**
Some of graph-sync-solvers are failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Graph-sync-solver is completed successfully.

**Screenshots**
inputs
[code]

logs
[code]

**Additional context**
Add any other context about the problem here.

[2020-06-18 12:35] pacospace commented on #1825
This should not be possible as we schedule solvers only for packages that were never been solved. @fridex any thoughts?

[2020-06-18 16:52] pacospace opened #1828 "Failing to import SI-analyzers classes"
**Describe the bug**
Failing to import SI-analyzers classes

**To Reproduce**
Steps to reproduce the behavior:
1.Try to import the class from another component.

**Expected behavior**
Class can be imported if thoth-storages library is installed

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-06-18 17:25] #1828 closed

[2020-06-18 17:52] pacospace opened #1831 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-06-18 17:53] #1831 closed

[2020-06-22 22:57] fridex commented on #1825
All graph syncs should be reentrant. I might have scheduled some solvers for already solved packages. Given the traceback, it looks like we should update thoth-storages (I cannot easily map the traceback to the current master). Let's see if the issue persists.

[2020-06-22 23:08] sesheta opened #1839 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA ecfbee5e588b9723a834c1366a2b8c74d848ceab.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-22 23:22] sesheta commented on #1839
Closing this issue as it is no longer relevant for the current master with SHA ecfbee5e588b9723a834c1366a2b8c74d848ceab.

[2020-06-22 23:22] #1839 closed

[2020-06-23 13:27] #1810 closed

[2020-06-23 13:48] sesheta opened #1843 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 6c7f5b2fc1650c8b76f678338c3d8145c484b124.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-23 14:12] sesheta commented on #1843
Closing this issue as it is no longer relevant for the current master with SHA 6c7f5b2fc1650c8b76f678338c3d8145c484b124.

[2020-06-23 14:12] #1843 closed

[2020-06-23 20:14] todo[bot] opened #1844 "remove once https://github.com/kvesteri/sqlalchemy-utils/pull/372 is merged"
https://github.com/thoth-station/storages/blob/8dd8f84b347c8b96ee92e948de2e85b78e081668/thoth/storages/graph/postgres_utils.py#L3-L8

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8dd8f84b347c8b96ee92e948de2e85b78e081668 when #1842 was merged. cc @pacospace.

[2020-06-23 20:15] fridex opened #1845 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-06-23 20:42] fridex opened #1848 "[5pt] Adjust Amun syncing logic so that it respect recent changes on Amun"
**Is your feature request related to a problem? Please describe.**

With recent changes on Amun, results are placed on Ceph in a different manner. We should adjust the syncing logic so that it respects this results placement.

**Describe the solution you'd like**

The syncing logic is adjusted so that the results are synced (one result in an iteration, not all results loaded into memory at once as

[2020-06-24 17:04] sesheta opened #1851 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 0f12c762dc916523c6042018f749ad9462dec7c1.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-24 17:19] sesheta commented on #1851
Closing this issue as it is no longer relevant for the current master with SHA 0f12c762dc916523c6042018f749ad9462dec7c1.

[2020-06-24 17:19] #1851 closed

[2020-06-24 19:11] #1845 closed

[2020-06-26 15:45] saisankargochhayat opened #1854 "[1pt] Adding Source Type to adviser_run table"
- [x] - Add `source_type` column to adviser_run table.
- [x] - Update alembic head.
- [x] - Add to attribute in [sync_adviser_result](https://github.com/thoth-station/storages/blob/1dd801548a937859311fe743df1beb22fd5a2d48/thoth/storages/graph/postgres.py#L4924) method
- [x] - Create a new release

cc - @pacospace  :smile:

[2020-06-26 17:36] GiorgosKarantonis opened #1858 "Installation Requirement"
Podman has to be already installed from https://podman.io/getting-started/installation.html in order to run PostgreSQL locally.

[2020-06-26 17:52] saisankargochhayat commented on #1858
Do you want this to be included in the readme? Or what is the issue?

[2020-06-26 17:57] GiorgosKarantonis commented on #1858
I think it would be better to have it in the readme

[2020-06-29 06:18] fridex commented on #1858
I tried to document running pg locally in the README file:

https://github.com/thoth-station/storages#running-postgresql-locally

All the needed packages can be installed using dnf/pip:

[code]

If you have some troubles running commands, please let us know. Also, feel free to extend the README file in a PR if needed.

[1] https://pypi.org/project/podman-compose

[2020-06-29 07:11] pacospace commented on #1854
:fireworks:

[2020-06-29 07:12] pacospace commented on #1854
This will allow us to have SLI on the usage of each Thoth integration @goern

[2020-06-29 07:26] pacospace opened #1861 "sqlalchemy.exc.IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "python_package_version_package_name_package_version_python__key""
**Describe the bug**
`sqlalchemy.exc.IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "python_package_version_package_name_package_version_python__key"`

**To Reproduce**
Steps to reproduce the behavior:
1. Run Argo workflows with same inputs in the screenshot.

Alternatively:
1. Take Pg dump from stage and sync in local postgres.
2. Retrieve `advise

[2020-06-30 20:40] saisankargochhayat opened #1869 "Kebechet update"

[2020-06-30 20:51] sesheta commented on #1869
Closing this issue as it is no longer relevant for the current master with SHA fd26cdfc4a8e4f07c8dfa4fa47293b74e9127d4d.

[2020-06-30 20:51] #1869 closed

[2020-06-30 21:08] saisankargochhayat commented on #1854
Added in #1862

[2020-06-30 21:08] #1854 closed

[2020-06-30 21:14] sesheta opened #1870 "new patch release"

[2020-06-30 21:18] sesheta commented on #1870
Sorry, @sesheta but you are not stated in maintainers section for this project. Maintainers are @goern, @fridex, @pacospace

[2020-06-30 21:18] #1870 closed

[2020-07-01 17:12] fridex opened #1871 "pypi.python.org is pypi.org"
**Describe the bug**

Some stack configurations use pypi.python.org as a source of packages. This old URL redirects to pypi.org. We should add capability to automatically remap all the index URLs pointing to legacy pypi.python.org to pypi.org.

As of now, we maintain both entries as separate Python package indexes. This, in fact, doubles the number of packages stored.

**Expected behavior**

Remap

[2020-07-07 06:46] pacospace opened #1877 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-07-07 16:05] pacospace opened #1883 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-07-08 10:19] goern commented on #1883
@thoth-station/cyborgsupervisors could one of you please have a look why kebechet did not create a new release? thx!

[2020-07-08 10:19] goern commented on #1883
/assign @thoth-station/cyborgsupervisors

could one of you please have a look why kebechet did not create a new release? thx!

[2020-07-08 10:39] pacospace opened #1884 "Adviser sync failing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 Use inputs for adviser run.

**Expected behavior**
Successful sync of adviser run in the database.

**Screenshots**

Inputs:
[code]

[code]

**Additional context**
Add any other context about the problem here.

[2020-07-08 10:48] pacospace opened #1885 "Introduce metrics about corrupted data [NOKR][tracker]"
As Thoth Data Engineer,
I want to discover if any data is corrupted in the database, showing the analysis on Grafana, receive alarms from Prometheus and take action on it.

Acceptance Criteria:
- [x] ~~Create Dockerfile for postgresql10.0-rhel + amcheck that can be deployed.~~
- [x] Create query on database in thoth-storages (https://github.com/thoth-station/storages/issues/1586, https://github.co

[2020-07-08 10:59] #1877 closed

[2020-07-08 11:02] pacospace opened #1888 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-07-08 11:03] sesheta commented on #1888
Closing the issue as there is no changelog between the new release of thoth-station/storages.

[2020-07-08 11:03] #1888 closed

[2020-07-08 11:12] sesheta commented on #1883
Closing the issue as there is no changelog between the new release of thoth-station/storages.

[2020-07-08 11:12] #1883 closed

[2020-07-08 11:47] fridex commented on #1885
https://github.com/thoth-station/metrics-exporter/issues/408

[2020-07-08 11:52] pacospace opened #1890 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-07-08 12:12] #1890 closed

[2020-07-08 14:40] pacospace commented on #1885
I linked that issue in this card [tracker] as third point already, as first we need an image with Postgres and that extension `amcheck`, probably RPM, to be created.

[2020-07-08 15:55] fridex commented on #1885
Not to maintain too many PG images, I think we could reuse the base image used in graph-backup-job.

CC @harshad16

[2020-07-09 11:31] #1848 closed

[2020-07-09 15:03] pacospace opened #1895 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-07-09 15:34] #1895 closed

[2020-07-09 20:29] saisankargochhayat commented on #1871
From the schema, it seems `PythonPackageVersionEntity`, `PythonPackageVersion`, `PythonPackageRequirement`, depends on `PythonPackageIndex`.

[2020-07-13 14:13] goern commented on #1586
ping @KPostOffice

[2020-07-15 14:10] pacospace commented on #1586
created card for this error https://github.com/thoth-station/storages/issues/1885

[2020-07-17 07:34] pacospace opened #1902 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-07-17 08:00] #1902 closed

[2020-07-23 11:41] pacospace opened #1906 "AttributeError: 'GraphDatabase' object has no attribute 'parse_python_solver_name'"
**Describe the bug**
thoth-storages query is using method which is not present in thoth-storages.

**To Reproduce**
Steps to reproduce the behavior:

[code]
Traceback (most recent call last):
  File "/opt/app-root/lib/python3.6/site-packages/faust/agents/agent.py", line 647, in _execute_actor
    await coro
  File "/opt/app-root/src/consumer.py", line 66, in consume_unresolved_package
    parse_un

[2020-07-23 14:45] #1906 closed

[2020-07-23 14:55] pacospace opened #1909 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-07-23 15:47] #1909 closed

[2020-07-28 19:08] sentry-io[bot] opened #1913 "ValueError: No handler defined for document identifier '/mnt/component/document/security-indicator-224881c5'"
Sentry Issue: [THOTH-1P1H](https://sentry.io/organizations/thoth-station/issues/1812006914/?referrer=github_integration)

[code]

[2020-07-28 19:11] fridex commented on #1913
Looks like old thoth-storages running in graph-sync job:

https://github.com/thoth-station/storages/blob/28f620c65659f4de2ad65ee128e735fb81eae743/thoth/storages/sync.py#L637

[2020-07-30 08:17] fridex opened #1922 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-07-30 08:18] goern commented on #1922
https://github.com/thoth-station/thoth-application/issues/187

[2020-07-30 08:42] goern commented on #1922
@thoth-station/cyborg-supervisors why has this issue not been closed?!

[2020-07-30 08:42] goern commented on #1922
/assign @thoth-station/cyborg-supervisors

[2020-07-30 08:45] goern commented on #1922
the tag  has not been created :/

[2020-07-30 08:49] goern commented on #1922
https://sentry.io/share/issue/32991468923643bd85e62ca1d6125718/ seems to be the related sentry

[2020-07-30 08:58] fridex opened #1925 "long_description_content_type missing in setup.py"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. ```rm -rf dist && python3 setup.py sdist && twine check dist/*```

[2020-07-30 09:00] goern commented on #1922
@fridex did a manual release

[2020-07-30 09:00] #1922 closed

[2020-08-04 06:17] #1925 closed

[2020-08-06 07:00] sentry-io[bot] opened #1928 "Failures to sync adviser result"
Sentry Issue: [THOTH-1P3R](https://sentry.io/organizations/thoth-station/issues/1821384138/?referrer=github_integration)

[code]

[2020-08-06 17:03] #1913 closed

[2020-08-10 20:13] KPostOffice commented on #1885
I don't have access to `access.redhat.com` so I'm having trouble getting the yum repositories that I need in order to build amcheck from source.

[2020-08-17 07:21] fridex opened #1930 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-08-17 08:38] #1930 closed

[2020-08-19 06:20] sentry-io[bot] opened #1939 "InvalidTextRepresentation: invalid input value for enum recommendation_type: "SECURITY""
Sentry Issue: [THOTH-1P8T](https://sentry.io/organizations/thoth-station/issues/1847319416/?referrer=github_integration)

[code]

[2020-08-19 06:23] fridex commented on #1939
The traceback does not correspond to the error reported. It looks like wrong sentry grouping.

[2020-08-19 11:00] #1939 closed

[2020-08-19 11:09] fridex opened #1945 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-08-19 12:00] #1945 closed

[2020-08-19 18:25] saisankargochhayat opened #1947 "Create a query to fetch all packages, that have been solved, but SI hasn't been run on it."
_Originally posted by @fridex in https://github.com/thoth-station/graph-refresh-job/issues/457#issuecomment-676128893_
Create and query in storages, that would look for all solved packages, and check if they exist in `si_aggregated_run` table and if it doesn't exist there, we should produce messages to schedule SI workflows.
- [ ] The table in which we have details of all the solved packages -
- [

[2020-08-20 07:09] fridex opened #1948 "Logging error when checking database schema version"
**Describe the bug**

When checking the database schema, I obtain this logging error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

[2020-08-20 07:17] #1948 closed

[2020-08-20 11:53] goern commented on #1947
/kind feature

[2020-08-20 11:54] goern commented on #1928
/kind bug
/project adviser
/assign @fridex

[2020-08-20 11:56] goern commented on #1871
is this still valid?

[2020-08-20 11:57] goern commented on #1844
is this still valid?

[2020-08-20 11:57] goern commented on #1717
@harshad16 ping

[2020-08-20 11:58] fridex commented on #1871
Not anymore.

[2020-08-20 11:58] #1871 closed

[2020-08-20 11:58] fridex commented on #1844
Yes. But we can close this issue as it is not blocking us and we do not rely on the external package anymore.

[2020-08-20 11:58] #1844 closed

[2020-08-20 12:08] fridex commented on #1607
I'm about to close this. I think it is referring to relative column placement in the database/pgweb. pgweb is not used as our data exploratory component (it is not deployed in stage/prod environments). We show the data in notebooks where they are filtered or additionally combined/adjusted.

Thanks for the idea though.

[2020-08-20 12:08] #1607 closed

[2020-08-20 13:55] harshad16 commented on #1717
I will look into this, would take some time.

[2020-08-20 15:11] pacospace commented on #1947
`PythonPackageVersion` is the table that is populated by solvers once a new package, version, index for a certain solver has been solved.

`SecurityIndicatorAggregatedRun` contains all knowledge about security after security-indicator workflows have been run.

To find out which packages are solved but not analyzed from Security Point of view, there should be a combination of two queries at the mom

[2020-08-20 16:08] sentry-io[bot] opened #1951 "syncing revsolver result violates not-null constraint value in column "platform""
Sentry Issue: [THOTH-1P93](https://sentry.io/organizations/thoth-station/issues/1850742279/?referrer=github_integration)

[code]

[2020-08-20 16:09] fridex commented on #1951
in ocp-stage, revsolver might be not taking the platform correctly from solver document

[2020-08-20 16:31] fridex commented on #1947
Just one minor comment here - you don't need to do 2 queries but you can construct all of this in a single database query using sqlalchemy. It should be faster as there is reduced serialization, network overhead and database can do the job for which it is optimized. You can check already existing query for the unsolved packages where similar diff is done to `python_package_version_entity` and `pyt

[2020-08-20 16:41] saisankargochhayat commented on #1947
Thanks! I will try the same.

[2020-08-20 18:29] fridex opened #1952 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-08-21 07:03] #1951 closed

[2020-08-21 07:19] fridex opened #1957 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-08-21 07:44] #1957 closed

[2020-08-21 15:11] pacospace opened #1960 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-08-21 15:30] sesheta opened #1961 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 69d5b07937c8b448546e0919f3f4fc8cb90a88ca.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-08-21 15:39] #1960 closed, assigned to sesheta

[2020-08-21 15:41] #1961 closed, assigned to nobody

[2020-08-25 08:05] pacospace commented on #1885
@KPostOffice @goern

[2020-08-26 19:01] fridex opened #1965 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-02 06:45] #1858 closed

[2020-09-08 08:49] pacospace commented on #1884
I think this was related to the corrupted database, @fridex ack?

[2020-09-08 08:54] fridex commented on #1884
I think so, haven't spotted this issue for a while. I think we could close this, feel free to reopen if the issue persists.

[2020-09-08 08:54] #1884 closed

[2020-09-08 09:02] pacospace commented on #159
Isn't related to https://github.com/thoth-station/storages/issues/1675 as well? @fridex

[2020-09-09 17:09] harshad16 commented on #1965
this is already available: https://pypi.org/project/thoth-storages/

[2020-09-09 17:09] #1965 closed

[2020-09-10 09:06] pacospace commented on #159
This is not relevant anymore, we have this information in https://github.com/thoth-station/storages/issues/1675 which show what is the next step. I'll close the issue

[2020-09-10 09:06] #159 closed

[2020-09-10 17:59] #1947 closed

[2020-09-10 18:05] sesheta opened #1984 "new minor release"

[2020-09-10 18:05] #1984 closed

[2020-09-10 18:15] pacospace opened #1985 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-10 18:45] #1985 closed

[2020-09-11 07:27] pacospace commented on #1261
@fridex is still relevant?

[2020-09-11 18:16] fridex commented on #1261
Yes.

[2020-09-11 21:28] pacospace opened #1992 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-11 21:46] #1992 closed

[2020-09-15 11:38] pacospace commented on #1261
Do you have that example that fails?

I tested with `adviser-85e14039`

[code]

[2020-09-15 11:40] pacospace commented on #1261
[code]

we introduced this logic when we added `advisere_re_run` flag

[2020-09-15 12:11] fridex commented on #1261
Oh, nice. I do not recall this being fixed already. :+1:

Then we can close this. Feel free to reopen if the issue persists.

[2020-09-15 12:11] #1261 closed

[2020-09-15 12:19] pacospace opened #2000 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-15 12:48] #2000 closed

[2020-09-16 14:29] pacospace opened #2003 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-16 14:57] #2003 closed

[2020-09-17 06:37] #1609 closed

[2020-09-17 15:20] pacospace opened #2007 "SI unanalyzed and SI analyzed queries produce wrong results."
**Describe the bug**
SI unalyzed and analyzed queries produce wrong results.

**To Reproduce**
Steps to reproduce the behavior:
1. have a look at Grafana

**Expected behavior**

**Screenshots**
After SI Argo workflow analyzing one package, this is the result in data:

![Screenshot from 2020-09-17 10-17-36](https://user-images.githubusercontent.com/27498679/93491377-e928ab80-f909-11ea-9ec2-b11c727f

[2020-09-17 15:30] pacospace opened #2008 "Database schema cannot be updated to revision `6389973bd8b6_remove_package_analyzer`"
**Describe the bug**
Schema cannot be updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Try syncing database with alembic version: `6389973bd8b6_remove_package_analyzer`

**Expected behavior**
Update schema successfull.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-09-17 17:59] goern commented on #2008
/kind bug

[2020-09-18 07:02] pacospace commented on #1608
@harshad16 is still relevant? or we can close this? I didn't have this issue initializing the database.

[2020-09-18 07:02] #1608 closed

[2020-09-18 07:04] pacospace commented on #1825
I think we can close this issue, as we didn't spot it anymore after recreating the database. Feel free to reopen it if necessary.

[2020-09-18 07:04] #1825 closed

[2020-09-18 07:04] pacospace commented on #1439
We are already using a different name right @harshad16 ? can we close the issue?

[2020-09-18 07:05] #1439 closed

[2020-09-18 07:19] harshad16 commented on #1439
yes, we have named it `thoth` :+1:

[2020-09-18 07:28] harshad16 commented on #1608
I think this solved with fixes in storages and new updates.
Thanks for closing.

[2020-09-18 09:03] pacospace commented on #1439
Nice name :D

[2020-09-18 14:00] saisankargochhayat commented on #2008
[code]

[2020-09-21 09:25] pacospace commented on #2007
I found the issue, I will take care :)

[2020-09-21 10:04] #2008 closed

[2020-09-21 14:46] pacospace commented on #2007
related-to: https://github.com/thoth-station/adviser/issues/1178

[2020-09-21 15:48] #2007 closed

[2020-09-21 15:52] pacospace opened #2014 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-21 16:18] pacospace commented on #2014
Related-To: https://github.com/thoth-station/adviser/issues/1178

[2020-09-21 16:30] #2014 closed

[2020-09-28 14:28] pacospace opened #2016 "Extend kebechet github installation table with managers and time for Internal Trigger feature [3pt]"
As Thoth.

I would like to provide my services to users of Kebechet and keep track of what managers are used by users so that we can prioritize future Kebechet features and provide Kebechet services faster.

- [x] Extend kebechet_github_installation table to have one column per manager, with boolean set to False by default and datetime/timestamp optional.
- [x] Create migration.
- [x] Create new m

[2020-09-29 07:34] pacospace opened #2028 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-29 07:36] pacospace commented on #2028
Related-To: https://github.com/thoth-station/thoth-application/issues/507

[2020-09-29 07:52] #2028 closed

[2020-09-29 08:32] pacospace opened #2031 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-29 09:30] #2031 closed

[2020-09-30 13:34] saisankargochhayat commented on #2016
So we have added the changes to the schema and also added the query method, do we want anything else for this issue? @pacospace

[2020-09-30 15:53] pacospace commented on #2016
I think for this part we are good!! Thanks!! Now we need to review the storages schema to add the software stack ID!

[2020-09-30 15:55] pacospace opened #2038 "Extend kebechet github installation table with software stack ID for Internal Trigger feature [5pt]"
As Thoth.

I would like to provide my services to users of Kebechet and keep track of what managers are used by users so that we can prioritize future Kebechet features and provide Kebechet services faster.

BLOCKERS:
- [x] https://github.com/thoth-station/storages/issues/1675

Tasks:

- [x] Extend kebechet_github_installation table to have one column for software stack ID
- [x] Create migration.

[2020-09-30 15:55] pacospace commented on #2016
https://github.com/thoth-station/storages/issues/2038

[2020-09-30 15:56] saisankargochhayat commented on #2016
Closed with #2024 #2035

[2020-09-30 15:56] #2016 closed

[2020-09-30 19:08] pacospace opened #2039 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-30 20:26] #2039 closed

[2020-10-03 16:11] goern opened #2042 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-10-03 16:42] #2042 closed

[2020-10-12 09:18] pacospace opened #2047 "PERFORMANCE and SECURITY recomendation types cannot be synced to database"
**Describe the bug**
PERFORMANCE and SECURITY reccomendation types cannot be synced to database because they are not included in models.

**To Reproduce**
Steps to reproduce the behavior:
1. Run adviser with recommendation type SECURITY

**Expected behavior**
Data are synced successfully.

**Screenshots**

**Additional context**

[2020-10-27 20:21] goern commented on #2047
/kind bug
/priority critical-urgent

[2020-10-27 21:23] saisankargochhayat opened #2059 "Kebechet update"

[2020-10-27 21:42] sesheta commented on #2059
Closing this issue as it is no longer relevant for the current master with SHA d25b14327b07f05a0cb1b37ba9dd61cf4a83b0c3.

[2020-10-27 21:42] #2059 closed

[2020-10-30 14:47] pacospace opened #2066 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-10-30 15:08] #2066 closed

[2020-11-04 09:04] fridex opened #2071 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-11-04 09:40] fridex opened #2072 "Bug occuring when running security step - column si_aggregated_run.error does not exist"
**Describe the bug**

[code]

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use stage environment
2. Run `thamos advise` with the following setup

[code]

[code]

3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-11-04 09:42] fridex commented on #2072
thoth-storages running in stage: `0.25.14`

[2020-11-04 09:42] pacospace commented on #2072
I think it is not a bug, storages is not udpdated: https://grafana.datahub.redhat.com/dashboard/db/thoth-component-versions?refresh=30s&orgId=1

[2020-11-04 09:44] fridex commented on #2072
Updated from management-api prior filling the bug. Maybe management-api needs an update?!

[2020-11-04 09:44] pacospace commented on #2072
We need to release new thoth-storages with latest storages 0.25.16: https://github.com/thoth-station/management-api/issues/615

[2020-11-04 09:45] pacospace commented on #2072
Yes exactly, opened Kebechet update issue, then we can release it :beers:

[2020-11-04 09:48] fridex commented on #2072
updated to thoth-storages 0.25.15, the issue persists

[2020-11-04 09:50] pacospace commented on #2072
the feature on error in SI was introduced in 0.25.16 https://github.com/thoth-station/storages/pull/2067

[2020-11-04 09:52] fridex commented on #2072
We should scope what we expect from major/patch/minor releases. A database schema change does not sound like a patch change.

[2020-11-04 12:31] sentry-io[bot] opened #2073 "IntegrityError: (raised as a result of Query-invoked autoflush; consider using a session.no_autoflush block if th..."
Sentry Issue: [THOTH-1PKJ](https://sentry.io/organizations/thoth-station/issues/2006667634/?referrer=github_integration)

[code]

[2020-11-04 16:24] pacospace commented on #2072
my fault sorry :/

[2020-11-04 17:26] goern commented on #2073
/kind bug
/priority critical-urgent
/assign @fridex @pacospace

[2020-11-04 17:26] goern commented on #2071
why is this blocked?!

@thoth-station/cyborg-supervisors

[2020-11-04 17:29] saisankargochhayat opened #2074 "Kebechet update"

[2020-11-04 17:33] #2074 closed

[2020-11-04 20:32] fridex commented on #2071
Related: https://github.com/thoth-station/thoth-application/issues/614#issuecomment-721905023

[2020-11-04 20:32] fridex opened #2075 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-11-04 20:35] fridex commented on #2072
No sorry at all. :beers:

[2020-11-04 21:01] #2075 closed

[2020-11-04 21:19] #2072 closed

[2020-11-04 21:44] #2071 closed

[2020-11-05 07:03] fridex commented on #2072
Database schema updated, the security step does not produce any errors. :+1:

[2020-11-05 09:48] fridex opened #2080 "Make schema update an async task"
**Is your feature request related to a problem? Please describe.**

As our database grows pretty significantly, some schema updates take too much time to be handled in a synchronous call we have on management-api. We should move the schema update logic into a one-time job that is run to make sure the database is updated and up2date.

**Describe the solution you'd like**

Create a simple one-time j

[2020-11-05 10:03] pacospace commented on #2073
I cannot find the DM document on Ceph for testing.

[2020-11-05 12:34] fridex opened #2083 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-11-05 12:37] fridex commented on #2073
I think this is happening for dependency monkey report, not for the inspection report itself:

[code]

[2020-11-05 13:03] pacospace commented on #2073
Yes correct, and the issue is a constraint on the inspection result number? I can open PR to solve it.

[2020-11-05 13:42] #2083 closed

[2020-11-06 13:22] #2073 closed

[2020-11-07 15:58] goern commented on #2047
/assign @pacospace

[2020-11-08 16:01] pacospace commented on #2047
It's already part of a PR, should I create another one?

[2020-11-10 23:12] fridex opened #2088 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-11-10 23:43] #2088 closed

[2020-11-16 18:44] #1675 closed

[2020-11-16 18:44] #2038 closed

[2020-11-16 18:44] #2047 closed

[2020-11-16 18:44] todo[bot] opened #2093 "Add security score"
https://github.com/thoth-station/storages/blob/0d24712e5fcdf0c19833b3a8814c72395ef7f09f/thoth/storages/graph/models.py#L913-L918

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0d24712e5fcdf0c19833b3a8814c72395ef7f09f when #2046 was merged. cc @pacospace.

[2020-11-16 18:44] todo[bot] opened #2094 "Add security score"
https://github.com/thoth-station/storages/blob/fc0bff462a18a5cf5e79e10ce95e6a37eda977e5/thoth/storages/graph/models.py#L913-L918

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in fc0bff462a18a5cf5e79e10ce95e6a37eda977e5. It&#x27;s been assigned to @pacospace because they committed the code.

[2020-11-16 18:50] sesheta opened #2095 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA fc0bff462a18a5cf5e79e10ce95e6a37eda977e5.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-11-16 18:51] sesheta opened #2096 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA fc0bff462a18a5cf5e79e10ce95e6a37eda977e5.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-11-16 18:51] sesheta opened #2097 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA fc0bff462a18a5cf5e79e10ce95e6a37eda977e5.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-11-16 18:57] saisankargochhayat commented on #2097
@harshad16 you mentioned something about fixing this error?

[2020-11-16 18:58] #2096 closed

[2020-11-16 18:58] #2095 closed

[2020-11-16 19:22] harshad16 commented on #2097
@saisankargochhayat i mentioned about fixing the pytest error, the ci pipeline had a pytest image which was old, it was updated with latest micropipenv and pip.
I think kebechet image is to updated with latest pip as well.

[2020-11-16 19:27] fridex commented on #2093
Duplicate.

[2020-11-16 19:27] #2093 closed

[2020-11-16 19:44] sesheta commented on #2097
Automatic dependency update still failing for the current master with SHA 989b625cfd788da1b950cd458763598655234b2d.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-11-16 19:59] fridex opened #2098 "A bug in the fuzzy hashing caused by bit width"
**Describe the bug**

The input to the fuzzy hashing algorithm does not behave on the binary level as expected, see:

https://github.com/thoth-station/storages/blob/989b625cfd788da1b950cd458763598655234b2d/thoth/storages/graph/postgres.py#L3729-L3733

This causes different size allocation for different integer sizes. This means that different integers will have allocated different size causing the

[2020-11-18 06:31] fridex opened #2099 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-11-18 06:43] #2099 closed

[2020-11-18 06:49] sesheta commented on #2097
Automatic dependency update still failing for the current master with SHA 4e2fce867f30d87fe27810c1b2f93bcee11c0218.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-11-18 06:50] sesheta commented on #2097
Automatic dependency update still failing for the current master with SHA 4e2fce867f30d87fe27810c1b2f93bcee11c0218.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-11-18 10:37] fridex opened #2102 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-11-18 10:42] sesheta commented on #2097
Automatic dependency update still failing for the current master with SHA c7ce5be9e14e47ff51f79f48e22f95ad804ef367.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-11-18 10:42] sesheta commented on #2097
Automatic dependency update still failing for the current master with SHA c7ce5be9e14e47ff51f79f48e22f95ad804ef367.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-11-18 11:08] #2102 closed

[2020-11-18 11:13] sesheta commented on #2097
Automatic dependency update still failing for the current master with SHA 70d5f000d70cb3b86ca52c5766004736e3b5571e.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-11-18 11:13] sesheta commented on #2097
Automatic dependency update still failing for the current master with SHA 70d5f000d70cb3b86ca52c5766004736e3b5571e.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-11-18 17:03] saisankargochhayat opened #2104 "Kebechet update"

[2020-11-18 17:05] sesheta commented on #2104
Closing this issue as it is no longer relevant for the current master with SHA 70d5f000d70cb3b86ca52c5766004736e3b5571e.

[2020-11-18 17:05] #2104 closed

[2020-11-18 17:09] #2097 closed

[2020-11-18 21:39] KPostOffice commented on #1885
postgres10 actually has this extension available. No need to use a community build. `amcheck_next10` adds functionality of the amcheck available in postgres 11+ to postgres 10 and there is another build to backport the functionality to postgres9.  It should be as easy as enabling the module and running the command that I described in the doc.

[2020-11-20 06:26] sesheta opened #2106 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 3b44521dc6cbabd251d6bfcc303e1dd749a1d365.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-11-20 17:27] saisankargochhayat opened #2107 "Kebechet update"

[2020-11-20 17:30] #2107 closed

[2020-11-20 19:03] KPostOffice opened #2108 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-11-20 19:14] #2106 closed

[2020-11-20 19:14] #2108 closed

[2020-11-20 21:11] sesheta opened #2109 "new patch release"

[2020-11-20 21:22] #2109 closed

[2020-11-23 08:29] goern commented on #2098
@fridex what do we need to do about this?

[2020-11-23 08:46] fridex commented on #2098
Use fixed with for integers when hashing a list of hashes. Otherwise fuzzy hashing will not produce reasonable results.

[2020-11-23 09:53] goern commented on #2098
ja, and do we know all the places where we need to fix the width? is that something that a unit test should cover?

[2020-11-23 10:00] fridex commented on #2098
Yes, I think so.

[2020-11-23 14:41] pacospace opened #2110 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-11-23 14:53] khebhut[bot] opened #2111 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 3b44521dc6cbabd251d6bfcc303e1dd749a1d365.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-11-23 17:07] pacospace opened #2115 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-11-23 17:33] #2110 closed

[2020-11-23 19:05] #2115 closed

[2020-11-24 18:42] sentry-io[bot] opened #2118 "ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied to create extension "amcheck""
Sentry Issue: [THOTH-1PM2](https://sentry.io/organizations/thoth-station/issues/2051012983/?referrer=github_integration)

[code]

[2020-11-25 16:03] saisankargochhayat opened #2119 "Kebechet update"

[2020-11-25 16:13] #2111 closed

[2020-11-25 16:13] #2119 closed

[2020-11-30 14:56] fridex commented on #2080
CC @pacospace

[2020-11-30 15:20] pacospace commented on #2080
Thanks @fridex.

WDYT? https://github.com/thoth-station/workflow-helpers/pull/168

We can have a workflow (graph-update-schema) that can be triggered by management API?

[2020-11-30 15:27] pacospace commented on #2080
Or should we create a new repo `graph-update-schema` that perform that task?

[2020-11-30 18:21] fridex commented on #2080
The workflow helpers approach looks like more fancy solution (less maintenance). The update could be also done using thoth-storages CLI but that would require turning this repo into a component. I think the workflow helpers is the most straightforward solution now. :+1:

[2020-11-30 18:25] pacospace commented on #2080
Then we can proceed:

- [ ] new workflow task method (https://github.com/thoth-station/workflow-helpers/pull/168)
- [ ] new workflow in thoth-application
- [ ] new method in thoth-common
- [ ] add logic to management-API to submit that workflow ( in frontend?)

and leave this issue for future improvements.

WDYT?

[2020-11-30 19:37] fridex commented on #2080
If we place it in the frontend namespace, will it require argo workflows (controller, ui and other required objects) being deployed into frontend namespace?

[2020-11-30 19:51] bissenbay opened #2122 "Does this repo need `.aicoe-ci.yaml`?"
Related-To: https://github.com/thoth-station/thoth-application/issues/545#issuecomment-735908736

[2020-11-30 20:01] harshad16 commented on #2122
please follow this comment: https://github.com/thoth-station/analyzer/issues/292#issuecomment-736007922

[2020-11-30 20:21] pacospace commented on #2080
Right, we cannot schedule cross namespaces, then middletier? like solver (so management api does not need access to other namespaces)?

[2020-11-30 20:22] pacospace commented on #2080
Actually management-API should become also a kafka producer and investigator should schedule actual workflows, but that would require more work respect to this feature. WDYT?

[2020-11-30 20:24] fridex commented on #2080
Given this fact and also given the long-term solution (using operators) what about scheduling just a job in infra namespace? We will need to rework this anyway, so... :innocent:

[2020-11-30 20:32] pacospace commented on #2080
We can also simply have a workflow template that be scheduled with `argo submit` directly to speed up :)

[2020-11-30 20:39] fridex commented on #2080
It might go against the "argo-cd has access to namespace" rule - no human interaction in namespaces :)

[2020-11-30 20:48] pacospace commented on #2080
:robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: :robot: right, we can still use the workflow-herlpers image right?

[2020-11-30 20:49] fridex commented on #2080
Sure :+1:

[2020-11-30 20:52] pacospace commented on #2080
Thanks! https://github.com/thoth-station/workflow-helpers/pull/168

[2020-12-01 11:21] pacospace opened #2126 "Issue for one package after moving to python 3.8"
**Describe the bug**
Issue for one package after moving to py3.8

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule graph-sync

**Expected behavior**
Sync finished successfully.

**Screenshots**
[code]

**Additional context**

[2020-12-01 11:22] pacospace opened #2127 "Kebechet update"

[2020-12-01 11:24] pacospace commented on #2126
Encountered already the problem because `typing_extensions` required py < 3.7 according to Pipfile.lock. I removed and recreated the Pipfile.lock in another repo and the problem was solved.) but this does not seem the same issue here as Pipfile.lock is correct

[2020-12-01 11:26] pacospace commented on #2126
[code]

[2020-12-01 11:33] #2127 closed

[2020-12-01 11:37] pacospace opened #2128 "Kebechet update"

[2020-12-01 11:49] #2128 closed

[2020-12-01 13:59] #2126 closed

[2020-12-01 14:00] bissenbay commented on #2122
`.aicoe-ci.yaml` was added with this PR: https://github.com/thoth-station/storages/pull/2121

[2020-12-01 14:00] #2122 closed

[2020-12-01 14:00] pacospace opened #2130 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-12-01 15:06] pacospace commented on #2130
@harshad16 should we retrigger it?

[2020-12-01 15:26] harshad16 commented on #2130
ah, not sure.
i can try to debug this by checking through the pipeline (webhook -> user-api -> kafka -> investigator -> workflow )

[2020-12-01 15:30] harshad16 commented on #2130
seems like an issue on the cluster side

[2020-12-01 18:19] harshad16 opened #2131 "Kebechet update"

[2020-12-01 18:30] #2131 closed

[2020-12-01 18:33] harshad16 commented on #2131
#2130

[2020-12-01 19:46] #2130 closed

[2020-12-03 12:50] xtuchyna opened #2133 "Some of the columns not present in kebechet_github_installations table"
**Describe the bug**
When using `graph.get_kebechet_github_installations_count_per_is_active()` method, it seems that the `kebechet_github_installations.external_python_software_stack_id` column is missing.

This is also true according to the database inspection in `pgweb`, where I can see all columns from query present except these ones:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2020-12-03 13:16] pacospace commented on #2133
what is the alembic version you are using?

[2020-12-03 13:18] xtuchyna commented on #2133
I've taken the dump from `ocp4` and the alembic version:
`alembic==1.4.3`

[2020-12-03 13:22] pacospace commented on #2133
alembic schema version sorry :)

[2020-12-03 13:25] xtuchyna commented on #2133
according to table it is `342d45db2dc2`

[2020-12-03 13:27] pacospace commented on #2133
You are using old schema: `e7ebfc165a96` is the latest version according to schema in storages. Please update schema in your postgres and you should not see those errors :)

[2020-12-03 13:33] xtuchyna commented on #2133
wip!

[2020-12-03 14:30] xtuchyna commented on #2133
yes, works like a charm. Thx!

[2020-12-03 14:30] #2133 closed

[2020-12-03 14:44] pacospace commented on #2133
Thankn you for opening issue!!

[2020-12-04 03:46] xtuchyna opened #2135 "Manager fields in kebechet_github_installations all False"
**Describe the bug**
When inspecting table `kebechet_github_installations`, I have noticed that all of the manager fields are set to `False`.

**To Reproduce**
I have also tried e.g. the function
[code]
where as expected (according to fields), nothing was returned (e.g. the `update_manager` and others should have been returned).

The dump I am using is  `pg_dump-20-12-03-00-02-14` .

**Expected be

[2020-12-04 07:38] pacospace commented on #2135
Thanks @xtuchyna :) It's not a bug of thoth-storages. The logic is there already and when we modify schema by default we put all false, they will be updated in the next round by Kebechet, we need to add that in User-API :)

[2020-12-04 07:38] #2135 closed

[2020-12-04 11:50] xtuchyna opened #2136 "Cannot pipenv install thoth-storages"
**Describe the bug**
When trying to add thoth-storages to `mi-scheduler` , installation fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork `mi-scheduler` [here](https://github.com/thoth-station/mi-scheduler)
2. While on master, try to `pipenv install thoth-storages`

**LOG**
[code]

[2020-12-04 11:51] fridex commented on #2136
What is your Pipenv version?

[2020-12-04 11:54] xtuchyna commented on #2136
`pipenv, version 2018.11.26`

[2020-12-04 11:54] fridex commented on #2136
Try to update it to a more recent version.

[2020-12-04 12:08] xtuchyna commented on #2136
yupyup, thxx

[2020-12-04 12:08] #2136 closed

[2020-12-04 13:33] pacospace opened #2138 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-12-04 14:00] #2138 closed

[2020-12-04 14:37] harshad16 opened #2140 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.29.3

[2020-12-04 14:40] sesheta commented on #2140
Successfully Delivered Package module to PyPI.
Package can be found at:[https://pypi.org/project/storages](https://pypi.org/project/storages)

[2020-12-04 14:40] #2140 closed

[2020-12-07 18:18] khebhut[bot] opened #2142 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 2b046dcad82b9a293999918858da6cbbbb793bd7.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-12-08 08:50] pacospace opened #2143 "Failed to sync adviser report"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2020-12-08 09:51] #2143 closed

[2020-12-08 09:51] pacospace opened #2145 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-12-08 10:06] #2145 closed

[2020-12-09 18:30] pacospace opened #2147 "Failed to sync adviser result with document id 'adviser-4d61a1b4.request"
**Describe the bug**
There are documents stored in adviser on Ceph which are not documents to be synced. Are they supposed to be there? Should we filter those out when trying to retrieve adviser documents (e.g. advise-reporter is failing right not)

**To Reproduce**
Steps to reproduce the behavior:
1. Retrieve document ids for adviser

**Expected behavior**
A clear and concise description of what

[2020-12-17 14:09] pacospace opened #2149 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-01-04 10:30] fridex opened #2150 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-01-04 10:33] fridex opened #2151 "This is better to do on the database side to avoid unnecessary serialization, rather than in python code."
This is better to do on the database side to avoid unnecessary serialization, rather than in python code.

_Originally posted by @fridex in https://github.com/thoth-station/storages/pull/2134#r551234930_

[2021-01-04 10:37] fridex commented on #2151
It would be also great to add an index for `KebechetGithubAppInstallations.is_active` if it does not exist yet to improve the query.

[2021-01-04 10:41] #2150 closed

[2021-01-05 17:34] #2149 closed

[2021-01-05 18:10] #2142 closed

[2021-01-05 20:23] #2151 closed

[2021-01-07 08:29] #2147 closed

[2021-01-07 12:19] fridex opened #2159 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-01-07 15:28] xtuchyna opened #2161 "Update from 0.29.2 to 0.29.3 introduced ModuleNotFound error (idna_ssl, typing_extensions)"
**Describe the bug**
Pull Request where the issue occurred: https://github.com/thoth-station/mi/pull/299
Seems that the update from 0.29.2 to 0.29.3 introduced error `ModuleNotFoundError: No module named 'idna_ssl'`
Seems that this is also connected with the similar `typing_extensions` error encountered here: https://github.com/thoth-station/mi/pull/302#discussion_r553392389
Installing these two d

[2021-01-08 08:49] #2159 closed

[2021-01-08 10:18] #2161 closed

[2021-01-11 23:37] fridex opened #2165 "Kebechet update"

[2021-01-11 23:46] #2165 closed

[2021-01-12 10:36] pacospace opened #2167 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-01-12 10:58] #2167 closed

[2021-01-12 20:57] fridex opened #2169 "Warning produced during sync of package-extract result"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to analyze `quay.io/thoth-station/adviser:v0.21.1`
2. After succesful package-extract, check graph-sync logs
4. See the warning

**Expected behavior**

No warning produced. Is it something that has implications on our side?

[2021-01-13 08:50] pacospace commented on #2080
Do we want to substitute the method in management API with the new async task?

[2021-01-13 09:00] fridex commented on #2080
Yes, I think that's required here.

[2021-01-13 09:01] pacospace commented on #2080
Sounds good, after this is merged: https://github.com/thoth-station/common/pull/1083 we can release new thoth-common :)

[2021-01-13 14:09] pacospace opened #2172 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-01-13 15:45] pacospace commented on #2169
I had a look and it seems like the issue is because we software_environment_id in HasSymbol table is a primary key and in general we can link has_symbol table to SoftwareEnvironment and ExternalSoftwareEnvironment, we should make software_environment_id nullable=True and not primary key.

[2021-01-13 15:46] pacospace commented on #2169
When do we differentiate between package extract `is_external` or not? if the image analyzed comes from a user or not?

[2021-01-13 16:05] pacospace commented on #1928
I think this can be closed as we changed syncing logic and we didn't see that message again. @fridex WDYT?

[2021-01-13 16:06] pacospace commented on #1861
I think this also can be closed for now as sync logic and schema changed. See also https://github.com/thoth-station/storages/issues/1928

[2021-01-13 16:10] pacospace commented on #537
closing as duplicated: https://github.com/thoth-station/storages/issues/538

[2021-01-13 16:10] #537 closed

[2021-01-13 16:10] pacospace commented on #304
No more relevant.

[2021-01-13 16:35] fridex commented on #1928
Sounds good. :+1:

[2021-01-13 16:35] #1928 closed

[2021-01-13 16:39] #1861 closed

[2021-01-13 17:08] pacospace commented on #2169
@fridex

[2021-01-14 08:33] fridex commented on #2169
Sounds good. :+1:

I think it was originally designed this way (IIRC). As of now, I don't see why we should differentiate this fact. We run python applications similarly to others, so we might eventually discard this flag over time.

[2021-01-14 09:01] pacospace commented on #2169
I saw that there is only one query using `HasSymbol` table but linked to `SoftwareEnvironment` only: https://github.com/thoth-station/storages/blob/cae7a9ec77569bc5e714397eab73e7f1dca78461/thoth/storages/graph/postgres.py#L5427

which component uses this query?

Because in this case `is_external` set might be important and we should generalize that query also. WDYT?

Moreover, I noticed that in ma

[2021-01-14 09:06] fridex commented on #2169
Now I recall parameter semantics. Its purpose was to have marked container image analyses that are coming from external users and should not be used during recommendations specific to the runtime environment. e.g. s2i-ubi-8-py38 is not an external container image, but our adviser image is an external container image build.

[2021-01-14 09:23] pacospace commented on #2169
Found in adviser: https://github.com/thoth-station/adviser/blob/fc708aeda70db7a6132f67d13c513d0041a65410/thoth/adviser/sieves/abi_compat.py#L57

[2021-01-14 09:27] pacospace commented on #2169
who submit the package extract for internal image and for external image analysis? Is it automated?

[2021-01-14 09:29] fridex commented on #2169
The internal one is submitted via management-api (by admins) as this action controls which container images are taken into account during recommendations targeting container images (runtime env)

The external one can be submitted from user-api, by any user of Thoth.

[2021-01-14 09:31] pacospace commented on #2169
Ok thanks, then we are all good! Thanks for the explanation! I ll open PR to remove the constraint on the primary key :)

[2021-01-14 11:02] pacospace commented on #2169
It appears that it is already nullable actually:

![Screenshot from 2021-01-14 11-51-06](https://user-images.githubusercontent.com/27498679/104581420-d7a8a380-565e-11eb-97f9-8648346a9cf2.png)

We removed the constraint with: https://github.com/thoth-station/storages/blob/master/thoth/storages/data/alembic/versions/54d50b0eeb33_allow_nullable_references_for_software_.py

So trying to generate a new

[2021-01-14 11:06] fridex commented on #2169
Thanks for digging into this. This was observed in test environment ocp4, so maybe we need a database migration update.

[2021-01-14 11:12] pacospace commented on #2169
removing `primary_key=True` simply from HasSymbol class seems to remove that warning, which in any case is not present in the database because of that previosu migration that invalidated the primary key which by default cannot be nullable.

test has same alembic version as stage: **e7ebfc165a96**

[2021-01-14 11:15] pacospace commented on #2169
But there is issue in test, maybe due to copy of data from stage?

![Screenshot from 2021-01-14 12-13-42](https://user-images.githubusercontent.com/27498679/104583995-27d53500-5662-11eb-8c4b-5ccd554a9f11.png)

[2021-01-14 11:20] fridex commented on #2169
Oh, I think this is bad. Alembic expects just one entry. Can we have an alert on this if this is true?

[2021-01-14 11:25] pacospace commented on #2169
This should not happen, syncing to the database with same ids should not be possible when the id is set as unique.

That also explains the issue mentioned in this issue description probably.

I think this happened also in the past with test environment when we migrated data, maybe the procedure doing need to be modified, especially if we need to migrate between other environments. cc @harshad16

[2021-01-14 12:13] #2080 closed

[2021-01-14 13:59] harshad16 commented on #2169
Yes, it is really bad. This happens when the database is not dropped before restoring the database with migrated db, which will get to make the migration process smoother, so such an issue doesn't occur.

[2021-01-14 15:20] #2172 closed

[2021-01-14 15:20] pacospace opened #2173 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-01-14 15:57] #2173 closed

[2021-01-19 15:49] pacospace opened #2179 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-01-19 16:03] #2179 closed

[2021-01-20 07:29] fridex opened #2181 "Optimize get_python_package_version_platform_all"
**Describe the bug**

See the query in:

https://github.com/thoth-station/storages/blob/483d04dca2246582b5397c8698896e6541790c50/thoth/storages/graph/postgres.py#L2256-L2261

**To Reproduce**
Steps to reproduce the behavior:
1. Use the query against a large database
2. See the performance issue

**Expected behavior**

The query should be more optimal, it does not need to go through all DependsOn e

[2021-01-21 07:08] sentry-io[bot] opened #2185 "KeyError: 'responses' when syncing dependency monkey result"
Sentry Issue: [THOTH-1PN4](https://sentry.io/organizations/thoth-station/issues/2168713191/?referrer=github_integration)

[code]

[2021-01-21 07:09] fridex commented on #2185
`dependency-monkey-565ffaf7bd69ac4d07b7b3dbfb0e248c` in test environment

[2021-01-21 07:50] #2185 closed

[2021-01-21 08:42] fridex commented on #2118
This was removed from the thoth-storages. Will be handled in a different way, see https://github.com/thoth-station/thoth-application/issues/726

[2021-01-21 08:42] #2118 closed

[2021-01-21 09:55] fridex commented on #1717
Is this still relevant?

[2021-01-21 10:01] fridex commented on #1586
The discussion has been moved to the linked issues. Thanks! :+1:

[2021-01-21 10:01] #1586 closed

[2021-01-21 10:04] fridex commented on #1405
No longer relevant, done in #1424

[2021-01-21 10:04] #1405 closed

[2021-01-21 10:05] fridex commented on #1325
We don't have any use-case for this as of now. Let's close this. Thanks :+1:

[2021-01-21 10:05] #1325 closed

[2021-01-21 10:09] #1106 closed

[2021-01-21 10:09] #1115 closed

[2021-01-21 10:10] fridex commented on #932
This is already implemented.

[2021-01-21 10:10] #932 closed

[2021-01-21 10:16] #304 closed

[2021-01-21 10:16] fridex commented on #269
This does not look relevant anymore. We already run on Python 3.8. Closing.

[2021-01-21 10:16] #269 closed

[2021-01-27 15:08] pacospace opened #2188 "Monitor index bloat data"
As Database Performance Engineer,

I want to monitor not only table bloat data but also index bloat data.

Reference: https://raw.githubusercontent.com/pgexperts/pgx_scripts/master/bloat/index_bloat_check.sql

[2021-01-27 15:08] pacospace opened #2189 "Implement a solution to clean database from bloat data"
As Database Performance Engineer,

I want to vacuum the database when bloat data are identified.

**Acceptance criteria:**

- [ ] Understand when data is considered bloated.
- [ ] Investigate the different methods to clean the bloat data.
- [ ] create another issue with the details on implementation.

[2021-01-28 07:02] fridex opened #2191 "Warning produced during package-extract syncs"
**Describe the bug**

[code]

Spotted with the most recent schema.

[2021-01-28 11:38] goern commented on #2189
/sig devops
/kind feature
/priority important-longterm

[2021-01-28 11:39] goern commented on #2188
/sig devops
/kind feature
/priority important-longterm

[2021-01-29 10:30] pacospace opened #2196 "Missing solver-ubi-8-py38 in database Ecosystem Solver table"
**Describe the bug**
Missing solver-ubi-8-py38 in database but there is Missing solver-rhel-8-py38 in database. When querying for data in the database for specific solver solver-ubi-8-py38, none are identified. This might affect queries for adviser to look for data for rhel-8 mapped to ubi-8

**To Reproduce**
Steps to reproduce the behavior:
1. Have a look at the database

**Expected behavior**
In

[2021-01-29 10:47] pacospace commented on #2196
I think it does affect queries, as we map to ubi always if someone input rhel. cc @fridex

[2021-01-30 22:36] goern commented on #2196
/sig solvers

[2021-01-31 13:45] fridex opened #2199 "Revisit operating system name entries in the database"
**Describe the bug**

Following the discussion in https://github.com/thoth-station/storages/pull/2197, a bug discovered in https://github.com/thoth-station/storages/issues/2196 and the discussion on our meeting, we should have a look at operating system name entries in the database. Specifically, make sure rhel/ubi are treated as synonyms where it is appropriate (solver runs but not container imag

[2021-02-01 09:48] fridex opened #2202 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-01 10:12] #2202 closed

[2021-02-02 20:54] pacospace opened #2205 "Fail syncing solvers due due document id"
**Describe the bug**
All solvers sync is failing in thoth-middletier-stage. it appears due to a naming issue with new naming we introduced to avoid collision.

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule solver in middletier-stage

**Expected behavior**
Solver sync successfully

**Screenshots**

[code]

Complete logs:
[code]

**Additional context**
Add any other context about the

[2021-02-02 21:29] #2205 closed

[2021-02-02 21:36] fridex opened #2209 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-02 22:15] #2209 closed

[2021-02-03 07:15] fridex opened #2213 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-02-03 10:52] #2213 closed

[2021-02-03 11:03] pacospace opened #2218 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-03 13:15] #2218 closed

[2021-02-10 16:17] pacospace commented on #1885
This issue can be closed: https://gitlab.cee.redhat.com/data-hub/dh-monitoring/-/merge_requests/374

[2021-02-10 16:17] #1885 closed

[2021-02-15 10:45] fridex opened #2222 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-02-15 14:29] fridex commented on #2181
Looks like index on `platform` does not solve this as a sequential scan is performed. Creating a database view does not work in this case, as postgres does not optimize table views. Looks like we will need to make an enum out of platform.

[2021-02-15 17:24] #2222 closed

[2021-03-01 15:58] khebhut[bot] opened #2229 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 0212a8197121e8cdce9187b57b313feb342713c8.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-03-01 23:04] #2229 closed

[2021-03-04 19:35] fridex opened #2232 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-03-04 20:57] #2232 closed

[2021-03-04 21:09] fridex opened #2235 "Corrupted versions of packages in the database"
**Describe the bug**

While performing an advise I spotted the following type of warnings:

[code]

As the warning suggests, the given package is removed based on version identifier. The version identifier is wrong as it has `==` in the version string (but it should not have it). See also other package entries in the database that have `==` version prefix.

**To Reproduce**
Steps to reproduce the

[2021-03-04 21:34] fridex commented on #2235
We can delete the affected rows and let graph-refresh recompute missing entries.

This is an SQL query that should delete affected rows for the stage environment:
[code]

Likewise, for the prod deployment:

[code]

As this is operating directly on data, please review this procedure and proposed fix before applying this to the database.

[2021-03-04 21:44] harshad16 commented on #2235
Thanks @fridex  for looking into this.
Test environment db is just a subset of stage and will remain the same
stage and prod would be the only ones carrying the whole db.

I think as this is a one-time operation, a individual exclusive script can be used to do this operation.
- Remove these packages from the db.
- capture the solver document ids related to this
- Remove them from the db

wdyt abou

[2021-03-04 21:48] fridex commented on #2235
+1, we should also remove solver documents :+1:

[2021-03-04 21:54] fridex commented on #2235
solver document ids for stage:

[code]

solver document ids for prod:

[code]

[2021-03-04 21:55] fridex commented on #2235
It might be good to find root cause of this to make sure this does not happen again (also when these solver documents were produced, what solver version).

[2021-03-04 21:58] harshad16 commented on #2235
Thanks for the list, check on one it is v1.6.3 solver.
i will check on others as well and notify here

[2021-03-05 14:52] fridex commented on #2235
I think we can close this one. It's well documented here with a procedure we took, hope it will not occur again. Thanks @harshad16 for the cooperation! :+1:

[2021-03-05 14:52] #2235 closed

[2021-03-10 08:48] fridex opened #2241 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-03-10 09:52] #2241 closed

[2021-03-12 20:55] fridex opened #2245 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-12 21:15] #2245 closed

[2021-03-15 14:02] sentry-io[bot] opened #2250 "amcheck extension not found."
Sentry Issue: [THOTH-1PNG](https://sentry.io/organizations/thoth-station/issues/2225997767/?referrer=github_integration)

[code]

[2021-03-15 14:06] goern commented on #2250
/kind bug
/label deployment_name/ocp-test

[2021-03-15 14:20] sentry-io[bot] opened #2251 "ProgrammingError: (psycopg2.errors.UndefinedColumn) column external_software_environment.env_image_name does not exist"
Sentry Issue: [THOTH-1PNP](https://sentry.io/organizations/thoth-station/issues/2226027315/?referrer=github_integration)

[code]

[2021-03-15 14:20] goern commented on #2251
/kind bug
/label deployment_name/ocp-stage

[2021-03-16 16:04] fridex opened #2252 "Cannot connect to the database: can't set attribute"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to connect to the database with more recent version sqlalchemy
2. See error

**Expected behavior**

Connection should be correctly established.

**Additional context**

See change in sqlalchemy https://github.com/sqlalchemy/sqlalchemy/commit/3668b3a30c4b9a9f4af13457f43bfc34c28cf448

[2021-03-16 18:33] harshad16 commented on #2250
The amcheck not found is a issue related to this issue: https://github.com/thoth-station/thoth-application/issues/725
It is being fixed by installation amcheck on all environments.

The second issue: `permission denied for function bt_index_check`
is the issue of permissions , still investigating on fixing this.

[2021-03-16 19:04] harshad16 commented on #2252
Similar issue:https://github.com/thoth-station/metrics-exporter/issues/641

[2021-03-16 19:10] fridex commented on #2252
We will need to pin `sqlalchemy<1.4.0`.

[2021-03-16 19:38] pacospace commented on #2252
We need to wait for squalchemy-utils project, because it is not compatible with the new sqlalchemy api: https://github.com/kvesteri/sqlalchemy-utils/issues/505

[2021-03-16 19:42] fridex commented on #2252
I think we will need to constraint `sqlalchemy<1.4.0` in the meantime until the issue in alchemy-utils is fixed. Otherwise, all the components that talk to PG will break if running newer version of sqlalchemy.

[2021-03-16 20:04] harshad16 commented on #2252
Let's proceed with pinning the version, so our apps don't fail.

[2021-03-16 20:19] pacospace commented on #2252
Yes totally agree, sorry, my comment was just to related the issue from upstream :)

[2021-03-16 20:47] fridex opened #2256 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-16 20:58] #2256 closed

[2021-03-18 03:50] harshad16 commented on #2252
This is fixed with the pinning of the sqlalchmey .
closing the issue.
Thanks everyone.

[2021-03-18 03:50] #2252 closed

[2021-03-18 04:43] harshad16 commented on #2251
this is caused by the old version of storages.
the update of alembic version would fix this.

[2021-03-18 05:08] harshad16 commented on #2251
The update to: `revision head: 'cb86ec08e5ce'` from `database head: '081bee0d9587`.
`revision head: 'cb86ec08e5ce'` fixes this issue
This revision head is updated in all the environments.
Closing the issue.

[2021-03-18 05:08] #2251 closed

[2021-03-18 05:17] harshad16 commented on #2250
`amcheck functions may be used only by superusers.`
The amcheck requires superuser.
* Initially idea was to use the `postgres` user (admin) to connect with db for metrics-exporter which requests the amcheck query. However as we use the pooler pgbouncer, so components have to connect with pgbouncer, as pgbouncer is set to use user `userd7a`, we have to setup userlist to have different user to have

[2021-03-18 10:24] goern commented on #1138
/label hacktoberfest
/priority important-longterm

[2021-03-18 10:25] #1292 closed

[2021-03-18 10:25] #1351 closed

[2021-03-18 10:27] goern commented on #1365
@fridex is this still valid?

[2021-03-18 11:06] fridex commented on #1365
I think we can close this.

[2021-03-18 11:06] #1365 closed

[2021-03-19 17:45] pacospace opened #2259 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-19 18:00] #2259 closed

[2021-03-22 08:18] pacospace opened #2264 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: 0.39.3

[2021-03-22 09:03] pacospace opened #2265 "twine upload command fails uploading package to PyPI"
**Describe the bug**
twine command fails uploading package to PyPI

**To Reproduce**
Steps to reproduce the behavior:
1. Open issue to redeliver module

**Expected behavior**
new module is released on PyPI

**Screenshots**
[code]

**Additional context**
https://github.com/thoth-station/storages/issues/2264

http://tekton-dashboard-tekton-pipelines.apps.zero.massopen.cloud/#/namespaces/opf-ci-pipel

[2021-03-22 09:05] fridex commented on #2265
pypi.org has partial outage

[2021-03-22 09:05] pacospace commented on #2265
Thanks @fridex ! 🍻

[2021-03-22 09:19] sentry-io[bot] opened #2266 "(psycopg2.errors.ProtocolViolation) server conn crashed?"
Sentry Issue: [THOTH-1PW5](https://sentry.io/organizations/thoth-station/issues/2282839819/?referrer=github_integration)

[code]

[2021-03-23 07:59] sentry-io[bot] opened #2267 "(psycopg2.OperationalError) insufficient data in "D" message"
/kind bug

Sentry Issue: [THOTH-1PXD](https://sentry.io/organizations/thoth-station/issues/2290521149/?referrer=github_integration)

[code]

[2021-03-23 08:13] goern commented on #2266
This looks like a flake @tumido can we correlate this with a pgsql pod hickup? can we see openshift platform logs during the timeframe of the exception?

/kind flake
/kind bug
/label deployment_name/zero-prod
/assign @tumido

[2021-03-23 08:40] tumido commented on #2266
I'd probably need a bit more detail to this. I can't access your sentry issue, neither I know which namespace/database to look into. Can you please give me more detail where this came from? We should be able to find something in Kibana hopefully.

[2021-03-23 08:40] tumido commented on #2266
@goern ^

[2021-03-23 20:22] tumido commented on #2266
@goern  it doesn't seem to be running in Operate First at all. I probably can't help with that. I've looked into your sentry event and it suggests it is running in
![image](https://user-images.githubusercontent.com/7453394/112212837-c14e3380-8c1d-11eb-9c2d-ea29c0a0d2a1.png)

And calling
![image](https://user-images.githubusercontent.com/7453394/112212901-d4f99a00-8c1d-11eb-9244-8717216fa3e5.png)

[2021-03-24 08:35] goern commented on #2265
sounds like we can /close this
feel free to reopen

[2021-03-24 08:36] goern commented on #2265
/close this

[2021-03-24 08:36] goern commented on #2265
/close

[2021-03-24 08:36] sesheta commented on #2265
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2265#issuecomment-805610112):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-03-24 08:36] #2265 closed

[2021-03-24 08:36] goern commented on #2265
grmpf
/shrug

[2021-03-24 14:54] sentry-io[bot] opened #2269 "NoResultFound: No row was found for one()"
/kind bug

Sentry Issue: [THOTH-1PAV](https://sentry.io/organizations/thoth-station/issues/1877699723/?referrer=github_integration)

[code]

[2021-03-25 14:44] pacospace opened #2270 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: 0.39.3

[2021-03-26 07:36] goern commented on #2269
This looks more like an operational problem that could be handled by a metric/alert rather than an exception we need to raise?

wdyt? @fridex @pacospace

[2021-03-30 10:03] tumido commented on #2266
cc @goern ^ Wanna me do any more research on this? I don't think this comes from the op1st clusters.

[2021-04-07 14:49] pacospace opened #2272 "Have retrieval of ids for specific timestamps"
**Is your feature request related to a problem? Please describe.**
As Thoth DS,

I want to retrieve data only for certain days to make analysis and create SLI/SLO.

**Describe the solution you'd like**
Extend Ceph adapters to consider document prefix ID.

**Describe alternatives you've considered**

**Additional context**

[2021-04-09 08:29] #2272 closed

[2021-04-09 11:00] #2270 closed

[2021-04-09 11:00] pacospace opened #2279 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-04-09 11:12] #2279 closed

[2021-04-16 21:25] sesheta commented on #307
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-16 21:25] sesheta commented on #308
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-16 22:26] sesheta commented on #529
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-16 22:26] sesheta commented on #538
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-16 22:26] sesheta commented on #708
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-16 22:26] sesheta commented on #746
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 00:25] sesheta commented on #959
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 00:26] sesheta commented on #1435
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 00:26] sesheta commented on #1514
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 03:25] sesheta commented on #1985
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 04:26] sesheta commented on #1992
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 07:26] sesheta commented on #2094
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-19 08:56] goern commented on #2094
@pacospace whats the state here?!

[2021-04-19 08:57] goern commented on #1514
@harshad16 is this still valid?

[2021-04-19 09:01] goern commented on #1435
implemented by https://github.com/thoth-station/thoth-application/blob/master/core/overlays/cnv-prod/graph-prod/postgresql.yaml#L70

/close

[2021-04-19 09:01] #1435 closed

[2021-04-19 09:01] sesheta commented on #1435
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/1435#issuecomment-822301410):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-04-19 09:01] goern commented on #959
@pacospace is this still valid?

[2021-04-19 09:02] goern commented on #708
/label hacktoberfest
/label "good first issue"
/remove-lifecycle stale
/kind feature

[2021-04-19 09:02] goern commented on #746
/kind feature
/remove-lifecycle stale

[2021-04-19 09:03] goern commented on #538
/kind feature
/remove-lifecycle stale

[2021-04-19 09:03] goern commented on #529
/kind feature
/remove-lifecycle stale

[2021-04-19 09:07] fridex commented on #538
I think we can close this one. We sync information about Thoth s2i images on image analysis and on advice. This way we can link these two if needed.

/close

[2021-04-19 09:07] #538 closed

[2021-04-19 09:07] sesheta commented on #538
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/538#issuecomment-822305978):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-04-19 09:09] fridex commented on #708
I think we can close this one. We have `base_image` configuration option in `.thoth.yaml` which points to a Thoth s2i supported and analyzed on the backend side.

/close

[2021-04-19 09:09] #708 closed

[2021-04-19 09:09] sesheta commented on #708
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/708#issuecomment-822307805):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-04-19 09:45] pacospace commented on #2094
I think we discussed once with @fridex and at the time we did not plan to add it as it is not required for adviser in any case, it is more for data analysis I would say to check the scores provided for stacks. We can leave it open I guess for now. @fridex wdyt?

[2021-04-19 11:27] fridex commented on #2094
I think we can completely remove this comment. There is no strict security score returned from the adviser as the recommended stack is created out of multiple pipeline steps that can include additional information (when generating security-based recommendations). Created #2285. PTAL

[2021-04-19 11:50] #2094 closed

[2021-04-19 12:23] pacospace commented on #959
I don't remember if we have that info in data from inspections. cc @fridex

[2021-04-20 19:20] fridex commented on #959
Sadly no, but we can extend amun to propagate version information. Might be low priority now as there are no changes in JSON data produced by Amun.

 - [ ] Extend [create_dockerfile](https://github.com/thoth-station/amun-api/blob/9af56afaecec50043740b33447f385cc9b8796fb/amun/dockerfile.py#L88-L89) function to write version string to a file present in /home/amun - the string written should match Am

[2021-04-20 19:20] fridex commented on #959
/remove-lifecycle stale

[2021-04-20 19:57] harshad16 commented on #2250
closing this issue as it has fixed the issue.
thanks everyone.

[2021-04-20 19:57] #2250 closed

[2021-04-28 12:54] pacospace opened #2288 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-04-28 13:06] #2288 closed

[2021-04-28 14:33] sesheta commented on #2188
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 14:33] sesheta commented on #2189
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 15:47] pacospace commented on #2189
/remove-lifecycle stale

[2021-04-28 15:48] pacospace commented on #2188
/remove-lifecycle stale

[2021-04-29 02:33] sesheta commented on #2169
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 02:33] sesheta commented on #2191
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 02:33] sesheta commented on #2098
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 02:33] sesheta commented on #1717
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 08:00] fridex commented on #2191
/remove-lifecycle stale

[2021-04-29 08:01] fridex commented on #1717
/remove-lifecycle stale

[2021-04-29 08:02] fridex commented on #2098
/remove-lifecycle stale

[2021-04-29 08:02] fridex commented on #2169
/remove-lifecycle stale

[2021-04-29 12:08] pacospace commented on #2169
do we have to do something more here?

[2021-04-30 10:34] goern commented on #2189
/label triage/needs-information

[2021-04-30 12:18] fridex commented on #2169
Looks like https://github.com/thoth-station/metrics-exporter/issues/573 is in place. If not, feel free to reopen.

/close

[2021-04-30 12:18] sesheta commented on #2169
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2169#issuecomment-830054465):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-04-30 12:18] #2169 closed

[2021-04-30 14:36] fridex commented on #2264
/close

[2021-04-30 14:36] sesheta commented on #2264
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2264#issuecomment-830139126):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-04-30 23:33] sesheta commented on #2196
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-01 14:33] sesheta commented on #2199
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-01 18:45] goern commented on #2196
/remove-lifecycle stale

[2021-05-01 18:53] goern commented on #2199
@fridex is this still a thing?

[2021-05-03 06:47] fridex commented on #2199
Yes.

/remove-lifecycle stale

[2021-05-03 06:53] fridex opened #2295 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-05-05 16:29] fridex commented on #2295
/close

[2021-05-05 16:29] sesheta commented on #2295
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2295#issuecomment-832833616):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-05-05 16:29] #2295 closed

[2021-05-05 16:29] fridex opened #2304 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-05-05 16:47] #2304 closed

[2021-05-14 10:33] pacospace opened #2307 "Explore use of graph extension for postgres"
**Is your feature request related to a problem? Please describe.**
As Thoth Knowledge Graph Maintainer,

I would like to explore the use of graph extension for postgres.

**Describe the solution you'd like**
- [ ] Have a look at https://age.apache.org/ and https://hub.docker.com/r/sorrell/agensgraph-extension

**Describe alternatives you've considered**

**Additional context**
Thanks @xquery!

[2021-05-16 14:34] sesheta commented on #2181
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-16 23:33] sesheta commented on #307
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-16 23:33] sesheta commented on #308
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-17 07:55] goern commented on #307
/remove-lifecycle rotten
/kind feature
/label "good first issue"
/label hacktoberfest

[2021-05-17 07:56] goern commented on #308
/remove-lifecycle rotten

@fridex is there a corresponding Amun issue?

[2021-05-17 07:57] goern commented on #2307
/triage needs-information

[2021-05-17 07:58] goern commented on #2181
/remove-lifecycle stale
/label "good first issue"
/label hacktoberfest
/triage needs-information
/kind feature ?

[2021-05-17 07:58] sesheta commented on #2181
@goern: The label(s) `kind/?` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2181#issuecomment-842103735):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-05-17 07:59] fridex commented on #308
Yes - https://github.com/thoth-station/amun-api/issues/576

[2021-05-17 13:06] fridex opened #2308 "Unable to re-solve already solved package with an error"
**Describe the bug**

One of the reasons https://github.com/thoth-station/adviser/issues/1850 is failing is missing dependency information for `google-resumable-media==1.2.0` which causes resolver to look for another resolution path (unsuccessfully). The reason behind this is a failed solver run marked in the database. If I try to solve the mentioned package locally or in the cluster using solver-

[2021-05-17 13:20] fridex commented on #2308
Interestingly, the solver document synced previously has no package information:

[code]

[2021-05-17 14:05] pacospace commented on #2308
Should we modify solver workflow to be:

add new condition `resync` to the workflow scheduling for task number 2 of the workflow

- 1 `solver` workflow-task
- 2 `allow-resync` workflow-task check solver version run, check if the package name,version index + solver is solved already and in that case delete data. (resync=True condition, otherwise this task does not run)
- 3 `graph-sync` workflow-tas

[2021-05-17 14:39] fridex commented on #2308
I think we can reuse `THOTH_FORCE_SYNC` parameter used in graph-sync task. This way, the user/component responsible for scheduling the graph-sync task will be aware there is done force sync of results computed.

It might be good if we start scheduling workflows on our own (no code/component yet). If we spot a bug in solver data that we know we have the logic on which data should be recomputed (tri

[2021-05-19 10:15] sesheta commented on #1514
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-27 21:42] KPostOffice commented on #2098
To solve this we need to extend _fuzzy_hash method to accept width and come up with good numbers based on a reasonable `MAX` for each id field and we will also need to update the hashes in the database right?

[2021-05-31 08:55] fridex commented on #2098
Yes, that's correct. 👍🏻 The old entries can stay as they are. As we have datetime/version info and old stacks are not that relevant to us, we can filter them (not to spend too much time on this work).

[2021-05-31 16:09] goern commented on #2181
/assign @pacospace

[2021-06-01 18:57] fridex opened #2316 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-01 19:12] #2316 closed

[2021-06-03 10:48] fridex opened #2323 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-03 11:07] #2323 closed

[2021-06-03 19:55] fridex opened #2326 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-03 20:31] #2326 closed

[2021-06-04 06:30] sentry-io[bot] opened #2329 "Multiple extra detected for dependency "transformers" in version "2.5.1" required by "rasa" in ve..."
Sentry Issue: [THOTH-1QP8](https://sentry.io/organizations/thoth-station/issues/2379559211/?referrer=github_integration)

[code]

/kind bug

[2021-06-07 07:26] fridex opened #2331 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-07 08:01] #2331 closed

[2021-06-07 20:04] sentry-io[bot] opened #2336 "AttributeError: 'NoneType' object has no attribute 'url'"
Sentry Issue: [THOTH-1R3G](https://sentry.io/organizations/thoth-station/issues/2442490849/?referrer=github_integration)

[code]

[2021-06-08 06:28] goern commented on #2336
/kind bug
/assign @fridex
/label deployment_name/zero-prod

[2021-06-08 06:42] pacospace opened #2338 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-08 10:25] fridex opened #2339 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-08 10:47] #2336 closed

[2021-06-08 11:01] fridex commented on #2339
/close

[2021-06-08 11:01] #2339 closed

[2021-06-08 11:01] sesheta commented on #2339
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2339#issuecomment-856665908):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-06-09 11:03] #2338 closed

[2021-06-09 11:03] fridex opened #2340 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-09 11:33] #2340 closed

[2021-06-10 10:29] #2266 closed

[2021-06-10 10:29] #2267 closed

[2021-06-10 11:32] pacospace commented on #2269
I think we can close this issue with the new logic implemented: https://github.com/thoth-station/storages/pull/2310, @fridex wdyt?

[2021-06-10 13:21] goern commented on #307
/priority backlog

[2021-06-10 13:21] goern commented on #308
/priority backlog

[2021-06-10 13:22] goern commented on #529
/priority backlog

[2021-06-10 13:23] goern commented on #746
/priority backlog

[2021-06-10 13:24] goern commented on #959
@pacospace are you actively working on this? if so, pls put some labels on it. otherwise push it to backlog. thx!

[2021-06-10 13:25] goern commented on #1514
/priority backlog
/unassign @harshad16

[2021-06-10 13:46] goern commented on #308
/kind cleanup

[2021-06-10 13:46] goern commented on #959
/kind cleanup

[2021-06-10 13:47] goern commented on #1514
/kind feature

[2021-06-10 13:51] goern commented on #1138
/kind cleanup

[2021-06-10 13:53] goern commented on #2329
@fridex is this really a bug?
/triage needs-information

[2021-06-10 15:24] goern commented on #2199
/kind cleanup
/priority important-soon
/assign @pacospace

[2021-06-10 16:50] goern commented on #2191
/priority importnant-longterm

[2021-06-10 16:51] sesheta commented on #2191
@goern: The label(s) `priority/importnant-longterm` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2191#issuecomment-858782082):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or sugg

[2021-06-10 16:51] goern commented on #2196
@pacospace is this still relevant, if not please close it

[2021-06-10 16:52] goern commented on #2181
@pacospace whats happening?
/lifecycle frozen

[2021-06-10 18:00] goern commented on #2191
/priority important-longterm

[2021-06-10 20:59] fridex commented on #2329
This will require some debugging, not sure why this is happening from top of my head.

[2021-06-11 08:34] goern commented on #2196
is `curl -X GET "https://management.moc.thoth-station.ninja/api/v1/solvers" -H  "accept: application/json"` a valid test for this? is this covered by an integration test?

[2021-06-11 09:36] pacospace commented on #2196
This is an inconsistency in data in the database, not from solver CM. If the map from rhel 8 to ubi 8 is used in every method, we can close this issue.

[2021-06-11 10:07] goern commented on #2196
sounds like a query we can run against the database, so that we check for consistency?

[2021-06-11 10:36] pacospace commented on #2196
We have already that actually, number of solver in CM vs number of solver in database and we also planned an alarm there. So we can close this issue.

[2021-06-11 10:43] fridex commented on #2196
If I recall correctly, we had `rhel` in the database that should not happen as it should be mapped to `ubi`. If `rhel` entries will be kept in the database, they will not cause any issues on the user side (as there is no solver installed). The incosystency will arise in monitoring when metrics-exporter exposes info about them. This might be confusing as we do not have "`rhel`" solvers per say. So

[2021-06-11 11:46] pacospace commented on #2196
@fridex from Grafana in prod, it seems to show 8 different solvers
![Screenshot from 2021-06-11 13-40-51](https://user-images.githubusercontent.com/27498679/121681163-c2735c00-caba-11eb-9992-775455fa1d5e.png)

[2021-06-11 11:58] pacospace commented on #2196
We actually map `ubi` to `rhel` in the database. So it will be synced as `rhel`: https://github.com/thoth-station/common/blob/826ad8f1db5234d2003f21d66b8ec0f6a29d2cea/thoth/common/helpers.py#L182

[2021-06-11 13:33] pacospace commented on #2196
- EcosystemSolver table is synced only by solver!
- We can delete with purge job all solvers in EcosystemSolver Table that have rhel and fedora basically.
- Adjust logic of solver sync, to use always document name and no mapping from ubi to rhel.

@fridex when you have a moment let's talk about this, because I have some questions on the mapping. Thanks!

[2021-06-11 14:00] fridex commented on #2196
That means the prod deployment is not configured correctly. Number of solvers stated in the configmap should match number of entries in the EcosystemSolver table. Otherwise an alarm should be triggered (I think we had an issue for that).

The question now is what are these 8 entries? Are they consistent with respect to ubi/rhel naming?

That sounds correct. We will need to make sure it is properly

[2021-06-11 14:30] pacospace commented on #2196
Sure!

So I ll address the issues one by one

- storages: [ ] https://github.com/thoth-station/storages/blob/cb118707ab6cbdf529bfd346c6d3040118f9b8a0/thoth/storages/graph/postgres.py#L5094

[2021-06-11 14:52] fridex commented on #2196
Based on this, we should not have `os_name=ubi` in the database. However, stage and prod keep following entries:

![Screenshot_2021-06-11_16-47-12](https://user-images.githubusercontent.com/880687/121705449-ee034000-cad4-11eb-8dc3-568b5babf3f3.png)

I will delete them as they are not consistent with the mapping. Also the ecosystem solver table should not keep any `ubi` entries (as they should be m

[2021-06-11 15:16] fridex commented on #2196
Deleted based on 👍🏻 on the comment. Could you please verify number of solvers reported in stage/prod? thanks!

[2021-06-11 16:27] pacospace commented on #2196
stage
![Screenshot from 2021-06-11 18-22-58](https://user-images.githubusercontent.com/27498679/121718238-63294200-cae2-11eb-9498-a263fcb1ebf9.png)
EcosystemSolver Table
`solver-fedora-31-py37`, `solver-fedora-31-py38`, `solver-fedora-32-py36`, `solver-fedora-32-py37`, `solver-fedora-32-py38`, `solver-rhel-8-py36`, `solver-rhel-8-py38`

prod
![Screenshot from 2021-06-11 13-40-51](https://user-imag

[2021-06-11 16:38] fridex commented on #2196
Looks good, except for prod. We should purge old solvers and install new. These fedora ones are EOL anyway.

[2021-06-14 14:47] pacospace commented on #2196
Should we just retrigger purge job in prod?

I closed https://github.com/thoth-station/storages/pull/2345 as we do not need a change in logic syncing to EcosystemSolver which correctly syncs rhel.

But we need to check also the sync is correctly done on SoftwareEnvironment Tables and other tables that consider os_name when syncing, the same mapping should be applied right?

[2021-06-15 08:31] pacospace opened #2349 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-15 08:41] goern commented on #2098
@fridex @KPostOffice can one of you take this and work fix it?

[2021-06-15 08:49] #2349 closed

[2021-06-15 09:27] goern commented on #2307
/kind question

[2021-06-15 13:04] fridex commented on #2196
This is planned for the release - @harshad16 works on this.

I think we can keep these entries for now as they do not create any preassure on the database.

/close

[2021-06-15 13:04] sesheta commented on #2196
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2196#issuecomment-861480058):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-06-15 13:04] #2196 closed

[2021-06-15 13:10] fridex commented on #2098
Let's have this low priority. In the worst case, we will have bad hashes for an initial set of stacks kept. These hashes can be recomputed later on once a fix is done. Also, we do not have any use of these hashes planned as of now.

/priority important-longterm

[2021-06-16 16:22] goern commented on #2181
@pacospace you are working on this, right?

/lifecycle active

[2021-06-16 16:22] goern commented on #2181
/priority critical-urgent

[2021-06-16 16:45] harshad16 opened #2355 "AttributeError: 'NoneType' object has no attribute 'url'"
**Describe the bug**
this issue is cauing f34py3.9 is failing the solvers.

[code]

[2021-06-16 16:49] fridex commented on #2355
Should be fixed in https://github.com/thoth-station/storages/pull/2337

[2021-06-16 16:50] harshad16 commented on #2355
the storage is at version 0.45.1 already at graph-sync
https://github.com/thoth-station/graph-sync-job/blob/362a06a13ea92efb8e0565d9de266e006934756f/Pipfile.lock#L845

[2021-06-16 16:53] harshad16 commented on #2355
the graph-sync at production is v0.10.8 , it needs to be update

[2021-06-16 17:02] #2355 closed

[2021-06-16 17:55] pacospace commented on #2181
@goern
The PR to close it is ready, tested and linked here: https://github.com/thoth-station/storages/pull/2354

[2021-06-17 07:19] #2181 closed

[2021-06-17 07:24] pacospace commented on #2199
I think we can close this issue with https://github.com/thoth-station/storages/pull/2351, feel free to reopen it if required!

[2021-06-17 07:24] #2199 closed

[2021-06-17 07:33] fridex opened #2357 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-17 15:51] fridex commented on #2357
@goern bot ignores reopened issues.

[2021-06-17 15:51] fridex commented on #2357
/close

[2021-06-17 15:51] sesheta commented on #2357
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2357#issuecomment-863357468):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-06-17 15:51] #2357 closed

[2021-06-17 15:51] fridex opened #2360 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-17 16:10] #2360 closed

[2021-06-18 07:50] fridex opened #2366 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-18 08:23] #2366 closed

[2021-06-21 10:25] #2188 closed

[2021-06-21 10:32] pacospace opened #2369 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-21 10:55] #2369 closed

[2021-06-23 12:40] goern commented on #2269
/close

@fridex feel free to re-open ....

[2021-06-23 12:40] sesheta commented on #2269
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2269#issuecomment-866800476):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-06-23 12:40] #2269 closed

[2021-06-28 09:25] goern commented on #2329
Issue has disappeared from sentry, @fridex can we close this?

[2021-06-28 10:34] fridex commented on #2329
/close

[2021-06-28 10:34] sesheta commented on #2329
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2329#issuecomment-869572086):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-06-28 10:34] #2329 closed

[2021-06-29 12:40] fridex opened #2374 "Make platform constant in sources"
**Is your feature request related to a problem? Please describe.**

With recent issues discovered on the database side (thanks to @harshad16), we could make platform constant - as we do not plan to support other platforms in near future, having just linux-86_64 should work fine. It will reduce pressure on the database queries and will save few gigs of disk space given the size of tables (`depends_

[2021-06-29 17:42] pacospace opened #2376 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-06-29 18:12] #2376 closed

[2021-06-30 07:02] goern commented on #1717
Is this still relevant?

[2021-06-30 07:02] goern commented on #1717
/unassign @harshad16
/assign @pacospace

[2021-07-01 10:02] pacospace commented on #1717
We don't have data about tensorflow 2.0.0 from AICoE Index in the database, cannot verify that at the moment.

[2021-07-01 16:00] fridex opened #2380 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-01 16:49] #2380 closed

[2021-07-06 10:33] pacospace commented on #2374
@harshad16 already solved this issue, I think it can be closed!

[2021-07-06 12:46] pacospace commented on #2374
Let's close it, feel to reopen :)

[2021-07-06 12:46] #2374 closed

[2021-07-06 13:25] KPostOffice opened #2385 "Deleting entries still in use"
**Describe the bug**
In the database, we use `get_or_create` when adding entries to the database.  This is to keep us from duplicating entries and instead we are able to reuse references to certain software stacks, runtime environments, etc.  However, most of the entries in our database cascade on deletion. This does not take into account that what is being deleted may be referenced more than once

[2021-07-08 17:05] pacospace opened #2388 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-08 17:44] #2388 closed

[2021-07-09 07:46] pacospace opened #2390 "Add simple example on using thoth handler for data on Ceph in the README"
**Is your feature request related to a problem? Please describe.**
As Thoth Developer,

I would like to know how to access Thoth data on Ceph using thoth handlers so that I can work on my Jupyter notebooks, test scripts, etc..

**Describe the solution you'd like**
Add simple example on using thoth handler for data on Ceph in the README

**Describe alternatives you've considered**

**Additional con

[2021-07-10 16:40] sesheta commented on #1514
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-12 08:08] pacospace opened #2393 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-07-12 08:47] #2393 closed

[2021-07-13 14:02] harshad16 opened #2397 "package version entity rule is missing value in index url id column"
**Describe the bug**
The solver rules are initialized in the package version entity rule table, during the initialization the package index URL id is missing value in the corresponding column.

https://github.com/thoth-station/storages/blob/f3a82b6b5224e3305510f0f6d08912e394f851b7/thoth/storages/graph/postgres.py#L6580

![index](https://user-images.githubusercontent.com/14028058/125465692-8eede371

[2021-07-13 21:12] goern commented on #2397
/priority critical-urgent
/remove-triage needs-information

[2021-07-13 21:13] #2397 closed

[2021-07-14 10:28] fridex opened #2399 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-14 11:07] #2399 closed

[2021-07-15 05:04] sesheta commented on #2189
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 08:25] pacospace commented on #2189
/remove-lifecycle rotten

[2021-07-15 14:04] sesheta commented on #307
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 14:04] sesheta commented on #529
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 16:46] sesheta commented on #746
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 16:46] sesheta commented on #746
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/746#issuecomment-880855668):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 16:47] sesheta commented on #308
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 16:47] sesheta commented on #959
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 16:47] #308 closed

[2021-07-15 16:47] sesheta commented on #308
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/308#issuecomment-880855960):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 16:47] sesheta commented on #959
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/959#issuecomment-880855969):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 17:03] sesheta commented on #1138
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 01:43] sesheta commented on #2191
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 01:44] #2191 closed

[2021-07-16 01:44] sesheta commented on #2191
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2191#issuecomment-881115731):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-07-16 05:03] sesheta commented on #2098
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 11:11] fridex commented on #307
We already extract hashes for all the container images. We do not sync them to the database as of now. We can revisit this once there will be a use-case.

/close

[2021-07-16 11:11] #307 closed

[2021-07-16 11:11] sesheta commented on #307
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/307#issuecomment-881369421):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-16 11:13] fridex commented on #529
/remove-lifecycle rotten

[2021-07-16 12:42] goern commented on #2098
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-16 16:23] goern commented on #1138
/close

[2021-07-16 16:23] #1138 closed

[2021-07-16 16:23] sesheta commented on #1138
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/1138#issuecomment-881568254):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-20 13:20] goern commented on #2385
/remove-triage needs-information
/label thoth/group-programming
/assign @KPostOffice
/assign @pacospace

[2021-07-23 10:23] fridex opened #2405 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-23 12:10] fridex commented on #2405
/close

[2021-07-23 12:10] #2405 closed

[2021-07-23 12:10] sesheta commented on #2405
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2405#issuecomment-885594608):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-23 12:11] fridex opened #2406 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-27 05:36] #2406 closed

[2021-07-27 05:36] fridex opened #2407 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-27 05:56] #2407 closed

[2021-07-30 15:16] KPostOffice opened #2411 "Error updating to most recent alembic version"
**Describe the bug**
`"only_if_package_seen" contains null values`
When updating to the latest alembic version the update is failing due to column not being allowed to be null

One way to solve this would be to give the column a default value

**To Reproduce**
Steps to reproduce the behavior:
1. Get the most recent database dump
2. run `$ PYTHONPATH="." alembic upgrade head`
3. See error

**Expect

[2021-07-30 17:56] KPostOffice commented on #2385
@pacospace I tested this by creating and deleting KebechetGithubAppInstallations with the same python stack and environment then deleting one of the two installations. The associated stack and environment were not deleted, however, they also were not deleted when I removed both entries. It is possible that there are zombie entries for the python stack and the environment which are waiting to be re

[2021-07-31 11:11] sesheta commented on #1717
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-04 11:08] #2411 closed

[2021-08-04 11:09] fridex opened #2414 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-04 16:51] #2414 closed

[2021-08-08 08:12] sesheta commented on #2390
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-08 08:12] sesheta commented on #2390
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2390#issuecomment-894761042):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-08-09 17:15] sesheta commented on #1514
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-18 08:32] fridex opened #2421 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-08-18 08:58] #2421 closed

[2021-08-20 08:05] pacospace opened #2423 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-20 08:23] #2423 closed

[2021-08-23 20:42] sesheta commented on #2307
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 20:42] #2307 closed

[2021-08-23 20:42] sesheta commented on #2307
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2307#issuecomment-904111809):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-08-24 02:42] sesheta commented on #2189
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 02:43] sesheta commented on #2189
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2189#issuecomment-904277020):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-08-24 11:42] sesheta commented on #746
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 11:43] sesheta commented on #959
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 11:43] sesheta commented on #746
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/746#issuecomment-904565016):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 17:43] sesheta commented on #529
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #2098
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #2098
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2098#issuecomment-904960590):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-08-25 10:37] fridex commented on #2098
/reopen
/triage accepted
/remove-lifecycle rotten

[2021-08-25 10:37] sesheta commented on #2098
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2098#issuecomment-905383577):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-08-29 20:54] sesheta commented on #2385
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-29 20:54] sesheta commented on #2385
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2385#issuecomment-907870893):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-08-30 06:51] fridex opened #2425 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-31 16:10] sesheta commented on #1717
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-01 15:27] KPostOffice commented on #2385
I think this can be closed. We won't delete entries which are still in use, but what can happen is that some data can stick around even if it's not associated with anything anymore. `cascade` occurs in the opposite direction from what I assumed

[2021-09-02 05:40] fridex commented on #2385
OK, so let's close this one. Thanks @KPostOffice.

/close

[2021-09-02 05:45] #2385 closed

[2021-09-08 10:02] #2425 closed

[2021-09-10 02:23] sesheta commented on #2390
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 02:23] sesheta commented on #1514
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 02:23] sesheta commented on #2390
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2390#issuecomment-916581126):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-09-10 02:23] #1514 closed

[2021-09-10 02:23] sesheta commented on #1514
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/1514#issuecomment-916581135):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-09-14 07:24] pacospace opened #2428 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-14 07:57] #2428 closed

[2021-09-14 08:47] fridex opened #2430 "Sync adviser result fails in stage environment"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule an authenticated request in the stage environment
4. See the error

**Expected behavior**

Adviser results sync should succeed

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2021-09-14 08:53] fridex commented on #2430
/assign @fridex

[2021-09-21 13:10] meile18 opened #2432 "Error installing thoth-storage with pipenv"
**Describe the bug**
I tried to install thoth-storages

**To Reproduce**
Steps to reproduce the behavior:
1. `pipenv install thoth-storages`

**Expected behavior**
Install thoth-storages

**Error**
version pipenv: 2020.8.13

[code]

**if i used: pip install**
[code]

[2021-09-21 13:12] meile18 commented on #2432
/assign @fridex

[2021-09-21 13:49] meile18 commented on #2432
thanks for the explanation

[2021-09-21 13:49] #2432 closed

[2021-09-22 10:52] fridex opened #2436 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-22 11:18] #2436 closed

[2021-09-23 11:30] sesheta commented on #2189
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 11:30] sesheta commented on #2189
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 11:30] sesheta commented on #2189
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2189#issuecomment-925726792):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-09-23 17:30] sesheta commented on #746
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 17:30] sesheta commented on #746
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 17:30] sesheta commented on #746
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/746#issuecomment-926014965):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 20:30] sesheta commented on #529
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 20:30] sesheta commented on #529
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 20:30] sesheta commented on #529
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/529#issuecomment-926131757):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 20:30] #529 closed

[2021-09-24 11:31] sesheta commented on #2098
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #2098
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] #2098 closed

[2021-09-24 11:31] sesheta commented on #2098
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2098#issuecomment-926553703):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-09-30 17:32] sesheta commented on #1717
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-30 17:32] sesheta commented on #1717
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-30 17:32] #1717 closed

[2021-09-30 17:32] sesheta commented on #1717
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/1717#issuecomment-931523544):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-10-10 11:33] sesheta commented on #2390
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-13 12:58] #746 closed

[2021-10-14 13:52] pacospace opened #2440 "Database has packages in PythonPackageVersion that do not exists on those indexes."
**Describe the bug**
Database in stage has Packages in PythonPackageVersion that do not exists on certain indexes.

**To Reproduce**
Steps to reproduce the behavior:
1. Check PythonPackageVersion table and look for packages from index https://tensorflow.pypi.thoth-station.ninja/index/manylinux2010/AVX2/simple (only tensorflow, tesnorflow-gpu and tensorflow-serving-api should be there, but metrics

[2021-10-14 14:29] pacospace commented on #2440
Depends-On: https://github.com/thoth-station/package-releases-job/issues/609

[2021-10-15 15:41] pacospace opened #2444 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-10-15 16:21] #2444 closed

[2021-10-18 10:29] pacospace opened #2447 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-10-18 10:49] #2447 closed

[2021-10-19 12:30] xtuchyna opened #2452 "Cannot retrieve data from `opf-datacatalog-zero-backup` bucket [`rick` cluster]"
**Describe the bug**
When calling https://github.com/thoth-station/mi/blob/cf092832ea46e636816b4ecde54a10a4aec25ff4/srcopsmetrics/storage.py#L200

(which is essentially calling `retrieve_document(path)` on `CephStore` object) on a document that does not exist (but also on a document that does exist)

an `EndpointConnectionError` occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Get cre

[2021-10-19 12:58] xtuchyna commented on #2452
Update: issue prevails in `thoth-storages==0.57.2` too

[2021-10-19 13:28] pacospace commented on #2452
It works for me, you are just using wrong endpoint. it should be `THOTH_S3_ENDPOINT_URL=http://ocs-storagecluster-cephobjectstore-openshift-storage.apps.rick.emea.operate-first.cloud`

[2021-10-19 13:35] #2452 closed, assigned to nobody

[2021-10-21 12:32] fridex opened #2458 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-10-28 13:16] mayaCostantini opened #2463 "error: invalid command for pipenv run python3 setup.py build_sphinx"
**Describe the bug**
Attempting to run `pipenv run python3 setup.py build-sphinx` as indicated in https://github.com/thoth-station/storages#installation-and-usage results in an `invalid command error`.
The `build_sphinx` command is also not listed as a standard or extra command when running `pipenv run python3 setup.py --help-commands`.

**To Reproduce**
Steps to reproduce the behavior:
Follow the

[2021-11-05 08:51] mayaCostantini opened #2469 "Broken links in docs/syncs/README.rst"
**Describe the bug**
The links towards the following JPG images are broken in the README file about syncs to Thoth Database : [solver](https://github.com/thoth-station/storages/tree/master/docs/thoth_sync_solver.jpg), [package-analyzer](https://github.com/thoth-station/storages/tree/master/docs/thoth_sync_package_analyzer.jpg), [package-extract](https://github.com/thoth-station/storages/tree/maste

[2021-11-08 09:12] fridex opened #2472 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-08 09:30] #2472 closed

[2021-11-08 11:25] fridex opened #2475 "Kebechet update"

[2021-11-08 11:30] #2475 closed

[2021-11-18 09:49] fridex opened #2479 "Rename thoth_s2i_*"
**Is your feature request related to a problem? Please describe.**

To be agnostic to naming, we should remove s2i part from schema colmns.

Related: https://github.com/thoth-station/user-api/pull/1506#discussion_r749128539
Related: https://chat.google.com/room/AAAAVjnVXFk/jMLlhD0ftRk

**Describe the solution you'd like**

Rename thoth_s2i_ in the schema and related code parts to be agnostic to s2

[2021-11-18 14:33] pacospace opened #2481 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-19 03:30] #2481 closed

[2021-11-25 15:22] mayaCostantini commented on #2463
/close

[2021-11-25 15:22] #2463 closed

[2021-11-25 15:22] sesheta commented on #2463
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2463#issuecomment-979299071):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2021-11-29 11:26] fridex opened #2490 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-29 11:44] fridex commented on #2490
/close

[2021-11-29 11:44] sesheta commented on #2490
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2490#issuecomment-981558253):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-11-29 11:44] #2490 closed

[2021-11-29 11:44] fridex opened #2493 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-29 11:47] fridex opened #2494 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-29 11:47] fridex commented on #2493
/close

[2021-11-29 11:47] sesheta commented on #2493
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2493#issuecomment-981559980):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-11-29 11:47] #2493 closed

[2021-11-29 12:32] #2494 closed

[2021-11-30 14:16] fridex opened #2497 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-30 14:41] #2497 closed

[2021-12-02 09:51] fridex opened #2501 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.61.0

[2021-12-02 09:52] sesheta commented on #2501
Successfully Delivered Package module to Pulp PyPI.
Package can be found at: [https://pypi.org/project/thoth-storages](https://pypi.org/project/thoth-storages)

[2021-12-02 09:52] #2501 closed

[2021-12-15 16:35] fridex opened #2505 "Container image analyses fail to sync due to NumericValueOutOfRange"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to sync package-extract-211215162056-e6c716c06837bea8 in ocp4-stage
2. See the error

**Expected behavior**

Results should sync.

[2021-12-21 12:02] #2505 closed

[2021-12-21 12:42] fridex opened #2514 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-21 13:10] #2514 closed

[2021-12-21 18:43] pacospace opened #2520 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-12-21 19:11] #2520 closed

[2021-12-22 12:04] fridex opened #2526 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-22 12:33] #2526 closed

[2022-01-04 08:46] fridex opened #2529 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-04 09:18] #2529 closed

[2022-01-05 08:16] fridex opened #2533 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-05 08:48] #2533 closed

[2022-01-11 14:44] pacospace opened #2538 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-11 15:44] #2538 closed

[2022-01-12 15:24] sesheta commented on #2440
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 09:26] pacospace commented on #2440
This was already solved, I checked again in stage database.

[2022-01-17 09:26] #2440 closed

[2022-01-18 15:20] codificat commented on #2469
/assign @mayaCostantini

[2022-01-18 15:24] codificat commented on #2479
Note that this implies a DB migration following the schema changes.

/remove-triage needs-information
/priority backlog
/help
/triage accepted

[2022-01-18 15:38] mayaCostantini commented on #2469
/lifecycle active

[2022-01-18 15:42] codificat commented on #2390
This is only waiting for the documentation to be updated in #2467.

/remove-triage needs-information
/triage accepted
/lifecycle active
/assign @xtuchyna

[2022-01-18 16:11] codificat commented on #2390
prow hiccup, trying again:
/remove-triage needs-information
/triage accepted
/lifecycle active
/assign @xtuchyna

[2022-01-18 17:59] codificat commented on #2469
Thanks for reporting *and* fixing this @mayaCostantini!

/close

[2022-01-18 17:59] #2469 closed

[2022-01-18 17:59] sesheta commented on #2469
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2469#issuecomment-1015671714):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-01-19 08:29] mayaCostantini commented on #2479
/assign @mayaCostantini

[2022-01-24 16:52] pacospace opened #2547 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-25 22:14] mayaCostantini commented on #2479
/close
Closed by #2546

[2022-01-25 22:14] sesheta commented on #2479
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2479#issuecomment-1021659682):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-01-25 22:14] #2479 closed

[2022-01-26 09:45] #2547 closed

[2022-01-26 13:44] pacospace opened #2553 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-26 14:01] #2553 closed

[2022-01-27 12:17] pacospace opened #2557 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.67.0

[2022-01-27 12:17] pacospace opened #2558 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag:  v0.68.0

[2022-01-27 12:19] pacospace opened #2559 "twine upload failing to publish to PyPI"
**Describe the bug**
twine upload failing to publish to PyPI

**To Reproduce**
Steps to reproduce the behavior:
1. Open issue to deliver missing module

**Expected behavior**

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2022-01-27 13:01] pacospace commented on #2559
I will test this locally /assign @pacospace

[2022-01-27 14:35] #2558 closed

[2022-01-27 14:36] #2557 closed

[2022-01-27 14:37] pacospace commented on #2559
Fixed by: https://github.com/thoth-station/storages/pull/2556

[2022-01-27 14:37] pacospace opened #2561 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-01-27 15:05] #2561 closed

[2022-01-27 15:43] pacospace commented on #2559
Reopening, actually, one more thing

[2022-01-27 15:46] pacospace opened #2564 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.68.1

[2022-01-27 15:47] sesheta commented on #2564
Successfully Delivered Package module to Pulp PyPI.
Package can be found at: [https://pypi.org/project/thoth-storages](https://pypi.org/project/thoth-storages)

[2022-01-27 15:47] #2564 closed

[2022-01-27 15:47] pacospace commented on #2559
ok it was correctly fixed actually, but tekton somehow didn't start the pipeline

[2022-01-27 15:47] #2559 closed

[2022-01-31 10:37] fridex opened #2566 "Wrong project url entries in python_package_metadata_project_url table"
**Describe the bug**

Check one of the postgres dumps available. More precisely, check the content of the `python_package_metadata_project_url` table. It holds `project_url` in the wrong format:

![image](https://user-images.githubusercontent.com/880687/151778290-6cf906cf-d34c-4781-b7e3-1ced19b3a51c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Check database content
2. Check content

[2022-02-02 12:04] fridex opened #2571 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-02 12:30] #2571 closed

[2022-02-02 12:31] fridex opened #2574 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.68.2

[2022-02-02 12:33] sesheta commented on #2574
Successfully Delivered Package module to Pulp PyPI.
Package can be found at: [https://pypi.org/project/thoth-storages](https://pypi.org/project/thoth-storages)

[2022-02-02 12:33] #2574 closed

[2022-02-03 15:24] fridex opened #2577 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-03 15:46] #2577 closed

[2022-02-07 14:50] mayaCostantini opened #2584 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-07 15:17] #2584 closed

[2022-02-07 20:32] fridex opened #2588 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-02-07 20:51] #2588 closed

[2022-02-07 20:52] fridex opened #2591 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.69.0

[2022-02-07 20:54] sesheta commented on #2591
Successfully Delivered Package module to Pulp PyPI.
Package can be found at: [https://pypi.org/project/thoth-storages](https://pypi.org/project/thoth-storages)

[2022-02-07 20:54] #2591 closed

[2022-02-14 12:35] mayaCostantini opened #2597 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-02-14 13:05] #2597 closed

[2022-02-16 10:01] goern commented on #2390
any updates on this?

[2022-02-16 10:26] pacospace commented on #2390
This need to be merged: https://github.com/thoth-station/storages/pull/2467 to be considered this done, cc @xtuchyna

[2022-02-24 16:28] fridex commented on #2308
/reopen

[2022-02-24 16:28] sesheta commented on #2308
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2308#issuecomment-1050034221):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-03-04 08:34] goern commented on #2390
this seems to be done, feel free to reopen if required

/close

[2022-03-04 08:34] #2390 closed

[2022-03-04 08:34] sesheta commented on #2390
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2390#issuecomment-1058949434):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-04 08:59] mayaCostantini commented on #2566
/assign

[2022-03-07 16:11] sesheta commented on #2430
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-10 12:50] mayaCostantini opened #2606 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-10 13:07] #2606 closed

[2022-03-11 12:21] pacospace opened #2610 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-11 13:05] #2610 closed

[2022-03-11 13:47] pacospace opened #2613 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.71.1

[2022-03-11 13:49] sesheta commented on #2613
Successfully Delivered Package module to Pulp PyPI.
Package can be found at: [https://pypi.org/project/thoth-storages](https://pypi.org/project/thoth-storages)

[2022-03-11 13:49] #2613 closed

[2022-04-04 12:46] mayaCostantini opened #2619 "Query container images based on package versions and indexes"
## Problem statement

We could extend container image queries by adding package versions and indexes filters to allow users to look for containerized environments based on more precise criteria.

## Proposal description

Modify the query for container images with filters for package versions and indexes and propagate those changes to the User API and Thoth Search UI.

### Alternatives

Keep the cu

[2022-04-04 12:47] mayaCostantini commented on #2619
/sig stack-guidance

[2022-04-06 17:28] sesheta commented on #2430
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-11 11:18] mayaCostantini opened #2622 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-04-11 11:33] fridex commented on #2622
Just for future reference - we tend to use a "minor" release if a release introduces some changes to the database schema.

[2022-04-11 11:35] mayaCostantini commented on #2622
Sorry @fridex , I should have checked the changelog more carefully. Noted 👍🏻

[2022-04-11 11:41] #2622 closed

[2022-04-11 11:41] fridex commented on #2622
No worries 👍🏻

[2022-04-21 12:39] mayaCostantini opened #2626 "Incomplete link name in `python_interpreter` table"
## Bug description
Some values in the `link` column of the `python_interpreter` table seem cropped / incomplete:

![Screenshot from 2022-04-21 14-35-51](https://user-images.githubusercontent.com/66788861/164459430-44c1dda8-e6f9-41b5-bf4c-7f0178d7d775.png)

### Steps to Reproduce
Explore the `python_interpreter` data from a recent database dump.

### Additional context
Dump name: `pg_dump-22-04-13-

[2022-04-21 12:39] mayaCostantini commented on #2626
/priority critical-urgent

[2022-04-22 06:56] mayaCostantini opened #2628 "Integration tests on stage are failing because `software_environment` table is not found"
## Bug description
Integration tests on `ocp4-stage` are failing with the following error log:

[code]

It looks like the `software_environment` table was not found when trying to list the available Thoth container images.

### Steps to Reproduce
See the last integration test results (2022-04-22 version 0.11.2) for `ocp4-stage` for the Thoth container images feature.

[2022-04-22 06:56] mayaCostantini commented on #2628
/priority critical-urgent

[2022-04-22 07:33] harshad16 commented on #2628
![postgresl](https://user-images.githubusercontent.com/14028058/164628505-03749fdd-85ad-4555-a988-2161110afb51.png)
The PostgreSQL table exists in stage, seems like storages is having trouble accessing it.

[2022-04-22 09:23] mayaCostantini commented on #2628
@harshad16 I tested getting available container images with the [`get_software_environments_all`](get_software_environments_all) method locally as done when the request is posted through the user API and it seemed to work properly. I also updated the database schema to its latest version before doing so.
Getting images from the `/container-images` endpoint on the stage API worked as well.
I will c

[2022-05-04 07:02] mayaCostantini commented on #2628
The issue does not seem to be present in the latest test results. Closing the issue.
/close

[2022-05-04 07:02] sesheta commented on #2628
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2628#issuecomment-1116989098):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-04 07:02] #2628 closed

[2022-05-05 18:24] mayaCostantini opened #2631 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-05 18:45] #2631 closed

[2022-05-06 20:11] sesheta commented on #2430
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-06 20:11] #2430 closed

[2022-05-06 20:11] sesheta commented on #2430
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2430#issuecomment-1119975599):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-05-10 15:29] mayaCostantini opened #2636 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-05-10 15:46] #2636 closed

[2022-05-24 11:22] mayaCostantini opened #2640 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-05-24 11:36] #2640 closed

[2022-05-24 11:38] mayaCostantini opened #2643 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: x.y.z

[2022-05-24 11:38] #2643 closed

[2022-05-24 11:38] mayaCostantini opened #2644 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.72.2

[2022-05-27 10:36] #2644 closed

[2022-05-27 10:43] mayaCostantini opened #2645 "Some package indexes have forbidden access"
## Bug description

When running solvers, the following error occurs when trying to reach some package indexes:

[code]

The indexes concerned are `https://download.pytorch.org/whl/cu111/` and `https://download.pytorch.org/whl/cpu/`.

### Steps to Reproduce

Run a solver for a package in the management API and observe the solver logs.
In the case of the error above, the solver scheduled was `fedor

[2022-05-27 10:43] mayaCostantini commented on #2645
/sig stack-guidance
/priority critical-urgent

[2022-05-27 10:46] fridex commented on #2645
These package indexes host packages published by the PyTorch team. They do not provide all the packages - the log shows that accessing the index gives 403 (which is the response code they configured to return). Thoth should log these and say that these packages are not available from the mentioned indexes. Does this behavior somehow affect Thoth's recommendations?

[2022-05-27 10:56] mayaCostantini commented on #2645
I think it might if a dependency could not be found on any other index we have?

[2022-05-27 10:59] fridex commented on #2645
What would be the expected behavior in such cases?

[2022-06-02 13:07] sesheta commented on #2566
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-02 13:07] sesheta commented on #2308
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-07 08:38] mayaCostantini commented on #2645
If I understand correctly, the current behavior is simply to [warn](https://github.com/thoth-station/solver/blob/def2bb793c618b41d2d50db81af9f9d209a00673/thoth/solver/python/python.py#L271) that the given package could not be resolved and to add the corresponding error report to the list of unresolved package reports.

In the case where a user is requesting a package to be solved and the package i

[2022-06-09 12:09] mayaCostantini opened #2648 "Create lightweight database dumps for testing purposes"
## Problem statement

As a developer of Thoth, I would like to test components using a local database instance without having to consume too many resources on my machine.
The current database backups generated in `ocp4-stage/graph-backup/` are currently more than 11GiB, which represents a lot of memory resources to allocate and of overhead for loading tables and writing WALs.

## Proposal descript

[2022-06-09 13:30] mayaCostantini commented on #2648
/priority important-soon
/sig devsecops

[2022-06-09 14:55] sesheta commented on #2648
@mayaCostantini:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](ht

[2022-06-23 08:30] goern commented on #2619
what is the priority of this?

[2022-06-27 12:17] codificat commented on #2189
/sig stack-guidance
/remove-sig devsecops

Reviewed in sig-sg meeting 20220627 - turning this into a spike to determine what "bloated db" means exactly, and what can be done about it

[2022-07-02 15:50] sesheta commented on #2566
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-02 15:50] sesheta commented on #2308
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-03 13:08] mayaCostantini commented on #2619
/priority important-longterm

[2022-07-08 12:17] VannTen opened #2653 "Revert ae4421b2 (upstream PR is merged)"
The commit ae4421b2 introduces thoth/storages/graph/postgres_utils.py, which
include a note to remove it when the upstream PR
(https://github.com/kvesteri/sqlalchemy-utils/pull/372) is merged.

Now that it is, can we revert that commit and remove postgres_util.py ?

[2022-07-08 12:33] harshad16 commented on #2653
Yes, as per comment here: https://github.com/thoth-station/storages/blob/0f48239394a262ee995fbbe13486ad52e590e23a/thoth/storages/graph/postgres_utils.py#L3
we can revert it.

[2022-07-08 15:24] VannTen opened #2657 "Feature: support for async deletion of a package index"
## Problem statement

For https://github.com/thoth-station/management-api/issues/790, the management
API need to trigger the deletion of an index. But it could potentially take a
long time to delete all the related storage items, and the management API needs
to return in a reasonnable timeframe (http, so in seconds).

## Proposal description

Split the deletion in two part:

1. mark the package in

[2022-07-11 14:47] VannTen opened #2658 "Developper documentation relation postgres <--> Ceph"
It's not very clear from the code or the documentation what Ceph is used for:

I can see [here](https://thoth-station.ninja/docs/developers/storages/index.html#syncing-results-of-a-workflow-run-in-the-cluster) that we store task results,
[here](https://thoth-station.ninja/docs/developers/adviser/developers_guide.html?highlight=ceph#testing-application-against-ceph-and-a-knowledge-graph-database)
h

[2022-07-13 13:13] VannTen commented on #2658
@harshad16

[2022-07-15 10:37] VannTen commented on #2658
Let's see if I can summarize what I understand, to see if I really **do**
understand. I'll see if I can work on a PR to add that in docs after
that.

We store documents in Ceph. Those are the results of various kind of
operations.
Those documents are original data (They can't be reconstructed from the db
postgres).
Postgres references those documents.

Follow ups questions:

- I'm not sure to unde

[2022-07-18 14:58] harshad16 commented on #2658
Yes original result data, cant be reconstructed from db postgres, only reconstruction via re-running the operations again.

Not true for all sync, some of them are designed in that way for example:
graph-refresh component schedule the package solver which are missing in the postgres db, so it would try to re-sync the document if not in the postgres db from ceph document.

The map would be more of

[2022-07-18 20:08] mayaCostantini commented on #2658
@VannTen I think Harshad provided a great explanation, I don't see any more details to add that could be useful. Thanks @harshad16 !

[2022-07-19 13:58] VannTen opened #2663 "S3 instead of Ceph"
Since we use Ceph as S3 store only (AFAICT), can we use consistently S3 instead
of Ceph in the code and documentation ?

In the documentation or in the code, using ceph as a name does make it clear
that we're using an object store, and targeting the S3 API (since Ceph has other
storages modes).

[2022-07-19 14:34] VannTen commented on #2658
related: https://github.com/thoth-station/thoth-application/issues/2539

[2022-07-19 14:35] VannTen commented on #2663
/area documentation
/kind feature

[2022-07-19 16:22] goern commented on #2658
is this something we can extract/summarize out in to the docs?

[2022-07-20 07:09] VannTen commented on #2658
I'm not sure.

I think there is two public for the information, Thoth devs and Thoth
ops, and it's not exactly the same information (checkout #2661)

Developer docs should stay in this repo I think, but I could see
operator docs regarding the storage models being centralized with the
rest of the operational documentation (which is the point of the
thoth-application issue if I read it correctly).

[2022-07-20 07:28] #2653 closed

[2022-07-20 07:31] VannTen commented on #2663
/kind cleanup
/remove-label area/documentation kind/feature

[2022-07-20 07:34] VannTen commented on #2663
/remove kind/feature area/documentation

[2022-07-20 07:41] VannTen commented on #2663
/remove kind/feature

[2022-07-20 07:51] goern commented on #2663
/triage needs-information

[2022-07-20 07:55] goern commented on #2657
/sig stack-guidance
/priority important-longterm

[2022-07-20 13:04] sesheta commented on #2626
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-25 11:45] mayaCostantini opened #2666 "Implement a method to retrieve TTL of cached result"
## Problem statement

Needed for https://github.com/thoth-station/user-api/issues/1614

Implement a method (for example in [ResultStorageBase](https://github.com/thoth-station/storages/blob/c70b89f809cdc67574617d3091f66231a6902e47/thoth/storages/result_base.py#L32)) to retrieve the Time To Live of a cached result based on the corresponding document id.

[2022-07-25 11:46] mayaCostantini commented on #2666
/priority important-soon
/sig stack-guidance

[2022-08-01 18:44] sesheta commented on #2566
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 18:44] sesheta commented on #2308
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-01 18:44] sesheta commented on #2566
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2566#issuecomment-1201576176):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-08-01 18:44] sesheta commented on #2308
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2308#issuecomment-1201576221):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-08-02 07:03] mayaCostantini commented on #2308
/remove lifecycle-rotten
/lifecycle frozen
/sig stack-guidance

[2022-08-02 07:04] mayaCostantini commented on #2566
/remove lifecycle-rotten
/sig stack-guidance
/lifecycle frozen

[2022-08-02 16:50] mayaCostantini opened #2668 "Create a new table for storing Scorecard metrics"

[2022-08-08 09:52] goern commented on #2668
/kind feature

[2022-08-08 13:21] codificat commented on #2626
based on review today, assigning
/sig stack-guidance

and updating
/remove-priority critical-urgent
/priority important-soon

next step is to check if this is a problem nowadays

[2022-08-08 13:22] codificat commented on #2626
/triage accepted
/remove-lifecycle stale

[2022-08-08 15:39] VannTen opened #2671 "Bad usage of _iter_dates_prefix in solver.py"
## Bug description
In thoth/storages/solver.py, `_iter_dates_prefix_addition` is used with
`prefix`, a parameter which it does not have anymore.
This might not cause a bug yet, but it certainly will.

### Additional context

This was caused by #2609

### Thoughts

We need to enable mypy to catch that sort of stuff for us...

/kind bug
/assign

[2022-08-08 15:46] VannTen opened #2673 "Enable mypy hook"
## Problem statement
We have problems like #2671 (functions got modified, call site was not)
If we have one, we likely have more.

Mypy would catch that sort of stuff. We need to enable the hook and fix
whatever mistakes there is (141 at the moment, with a bunch of dupli/triplicates
and more)

## Acceptance Criteria
- [ ] mypy hooks is enabled

/assign
/priority important-soon

[2022-08-09 08:16] VannTen commented on #2671
I think a proper solution would be to leave prefix completeley out of
`_iter_dates` (remove `{prefix}` from the yielded string), and let the call
sites deal with it. It's a private method (... even though I discovered by using
it in document-sync-job ^) and there is like four call sites.

The function name is kinda misleading otherwise, and that seems to improve
composability to me.

[2022-08-09 13:50] goern commented on #2671
/sig stack-guidance

[2022-08-10 12:00] #2671 closed

[2022-08-11 07:42] VannTen opened #2680 "Are security indicators used ?"
Do anyone know if we're using the security indicators at all ?
Looking at the code in thoth/storages/security_indicators.py, it seems broken

## Bug description
All security indicators use the type (security_indicator_type, "bandit", "cloc")
as the document_id when accessing document. So they can only ever access one
document named by the type.

### Actual behavior
[code]
the ceph methods are impl

[2022-08-11 08:39] goern commented on #2680
I think the concept of Security Indicators has been superseded by prescriptions, right?! @mayaCostantini @harshad16

[2022-08-11 09:33] mayaCostantini commented on #2680
In adviser, [security indicator steps](https://github.com/thoth-station/adviser/blob/master/thoth/adviser/steps/security_indicators.py) are still part of the resolution logic for the security recommendation type, as they are [run with other steps](https://github.com/thoth-station/adviser/blob/a0697688aff2b9628030e457e3457e20d97fd5db/thoth/adviser/resolver.py#L326) such as CVE etc.

However, scorin

[2022-08-11 09:34] mayaCostantini commented on #2680
As for if we should remove the code entirely, I don't think that would be a good idea for the moment as we could decide to enable those indicators later in the future. However, I am lacking some context on why this feature ceased to be used.

[2022-08-11 09:51] VannTen commented on #2680
By enabling, do you mean:
- It's currently unused because it's soft-disabled -> aka, a settings
  switch could be toggled which would make current released version to
  use that code

Or

- Enabling would be writing new code depending on this

In the second case, we can drop it, if we want to get it back later,
we'll just need to revert the commit, it's all there in git history.  ->
the benefits o

[2022-08-11 09:57] mayaCostantini commented on #2680
You are right about the fact that the implementation of the `retrieve_document` and `document_exists` methods in the base class is wrong and could definitely introduce a bug if security indicators documents happen to be present again in the database.
A solution could be to fix those methods and to leave the security indicators-related code as is, so that it can be easily reused just in case, wdyt?

[2022-08-11 10:36] VannTen commented on #2680
I think the costs/benefits is not worth it compared to cutting it out,
for the following reasons:

- We don't know if we're going to use it or not in the future, so it
  might become wasted work.
- Unused code is untested code, and will bitrot. I'm not sure if we have
  units tests on those particular class, but even if that's the case,
  integration/e2e tests will not cover library code that's no

[2022-08-19 04:21] harshad16 commented on #2680
The security indicator is still in use, and the ingestion with respect to the security indicator is still taking a place.
The issue stated seems like a broken piece that we should fix.
The security indicator is not abandoned, just got lesser in priority as we were trying to get the other things in place.
Let's definitely pull this issue into some work cycle and work on it.

[2022-08-19 05:15] harshad16 opened #2682 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-08-19 05:16] harshad16 commented on #2682
As we had the license solver bits included
making this release.
also this release would help out with other bits
https://github.com/thoth-station/user-api/issues/1782

[2022-08-19 05:19] #2682 closed

[2022-08-19 05:34] harshad16 opened #2685 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-08-19 06:31] #2685 closed

[2022-08-19 11:04] VannTen commented on #2680
(maya)

This might just be the result of the broken code.

:+1:

In that case I think we can make this a subclass of ResultBase stuff
right ? Is there any reason not to ?

[2022-08-22 12:51] VannTen opened #2688 "Reevaluate custom lru_cache decorators"
`thoth/storages/graph/postgres.py#L210` contains a implementation of lru_cache
for methods.
This seems like something which should already exists in a library.

# Potentially relevant
https://stackoverflow.com/questions/33672412/python-functools-lru-cache-with-instance-methods-release-object
https://github.com/tkem/cachetools/issues/106
https://github.com/python/cpython/issues/64058

# Refs
Introd

[2022-08-24 09:55] VannTen opened #2689 "AnalysisByDigest intented usage"
This is sort of another instance of #2680

[code]

[code]

Besides the fact that the class breaks the inheritance relation, it passes wrong
arguments to store_document inner methods (str instead of dict), which is
probably not working that well.

I don't know the intented usage, so if interested parties could chime in...

/kind bug
/triage needs-information
/sig stack-guidance

prompted by working

[2022-08-24 13:18] VannTen opened #2691 "Question: Using sqlalchemy-media (or similar) ?"
This is a question/discussion/maybe proposal on the Thoth storage model.

I think refuting it could help better understand the current storage model, and
hence document it (#2661).

------

Why do we not use something like [sqlalchemy-media](https://pypi.org/project/sqlalchemy-media/)
-> ie, an extension to the sql-alchemy ORM to store files in "file storage"
(including S3) and reference them in t

[2022-08-26 07:28] VannTen commented on #2691
https://github.com/jowilf/sqlalchemy-file (probably more relevant project)

[2022-08-29 11:25] codificat commented on #2691
/kind question
/priority important-longterm

[2022-08-29 11:44] mayaCostantini commented on #2691
documents, by prefix + by date, and we have a important number of metadata (->
thoth/storages/result_schema.py).
That looks like data which would be more efficiently handled in SQL (the date
stuff, particularly).

Is the idea here to implement a more generic file storage adapter to be able to eventually migrate documents from S3 to another object storage service?
If that is the case, why not, but

[2022-08-29 12:58] VannTen commented on #2691
Not exactly, at least, it's not the main benefits from my POV. Rather,
it's about closer integration of file storage in the SQL models.

From my understanding, the idea behind sqlalchemy-media is to basically
have something like this in SQL models:

[code]
The ORM plugin handle the machinery (= storing a reference to the object storage
id and uploading/retrieving it).

Yeah, I agree. It was more m

[2022-08-29 13:22] mayaCostantini commented on #2691
id and uploading/retrieving it).

Thanks for the example, this is more clear to me now.

clear).

Ok, I see how that could be useful. However I think the current implementation of models might be clear enough and I am not sure if mixing up file storage handling and tables implementation is a good idea readability-wise.

@harshad16 wdyt?

[2022-08-29 13:30] VannTen commented on #2691
Should we implement this, storages should not do any file storage
handling at all, the plugin should handle it.
If it (=handling file storage) bleeds into storages code, that would
just be the same (but differently ^) than now with more dependencies, so
yeah that would be useless.

[2022-08-29 13:31] mayaCostantini commented on #2691
Do we have an average size for the documents (I'm currently searching through
the docs) ? I understand it's JSON, but are we around a few kB ? a few MB ?
Would the JSONB field type in postgres be of any relevance ?

It would be useful (and not too time-consuming I guess) to have an estimation for that, but from memory, I know that some documents take up a lot of memory and it would be inconvenient

[2022-08-29 13:37] VannTen commented on #2691
I'll open an issue in metrics-exporter (unless maybe it's already
there) to see if we can come up with something (probably).

[2022-08-29 14:23] mayaCostantini opened #2692 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-08-29 15:07] #2692 closed

[2022-08-30 14:24] VannTen commented on #2688
/sig stack-guidance

[2022-08-30 14:24] VannTen commented on #2663
/sig stack-guidance

[2022-08-30 14:48] mayaCostantini commented on #2688
I think the goal of this custom decorator was to avoid eventual memory leaks caused by the `functools` implementation? Why should we replace it with an implementation from a library?

[2022-08-31 07:54] VannTen commented on #2688
That's also what I understand. The point of the issue is to assess
is a opensource python lib already implements this (or would accept a
contribution for adding it, but that's a higher bar)

lru_cache being a general concept which is useful in many other context
than thoth, in an ideal world it would be in a opensource community
python library. More pragmatically, it would reduce our codebase and

[2022-09-01 09:09] VannTen commented on #2680
/close

[2022-09-01 09:09] #2680 closed

[2022-09-01 09:09] sesheta commented on #2680
@VannTen: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2680#issuecomment-1233988128):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-09-05 10:09] sesheta commented on #2645
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-05 10:39] VannTen commented on #2189
Could the bloated data refer to this : https://github.com/thoth-station/storages/blob/master/thoth/storages/graph/postgres.py#L6842-L7171 ?

This seems to be about postgres db internal machinery (AFAICT it's only used by metrics-exporter https://github.com/search?q=org%3Athoth-station+bloat_data&type=code  and it should not be part of storages, rather in a sql-query metrics exporter or something l

[2022-09-05 11:42] goern commented on #2645
/remove-lifecycle stale
/assign @mayaCostantini

[2022-09-05 11:42] goern commented on #2645
/assign @VannTen

[2022-09-05 12:10] VannTen commented on #2658
/remove-kind bug
/kind documentation
/priority important-longtem

Related (closely) : #2691

[2022-09-05 12:10] sesheta commented on #2658
@VannTen: The label(s) `priority/important-longtem` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/storages/issues/2658#issuecomment-1236921151):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or sug

[2022-09-05 12:12] VannTen commented on #2658
/priority important-longterm

[2022-09-07 16:09] sesheta commented on #2648
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-08 14:54] VannTen commented on #2689
/assign
/triage accepted
/lifecycle active

fixed by 0ca4164

[2022-09-12 12:32] codificat commented on #2645
from today's sig-sg call:
/triage accepted
/lifecycle active

[2022-09-12 12:43] VannTen commented on #2645
Weird, I posted a reply in this last week by email but apparently Github
did not catch it... :/.

The relation to storages is not obvious to me, what API should we
provide / fix to help this issue ?

[2022-09-13 09:23] VannTen commented on #2657
So, my last thoughts on this:

First I would need a query of taking a package index and returning all the
currently stored document ids in object storage.

Once that done, the workflow is basically:

1. Mark package index as deleted.
2. Query PackageIndex -> all ids -> delete all ids
3. Delete Package index -> postgres cleanup all related sql items by cascading.

Does that seems realistic ? I'm st

[2022-09-13 12:06] VannTen opened #2700 "Export S3 config factory"
## Problem statement
As a Thoth developer, I would like to use directly the boto3 library for cases
where `storages` (this module) API is inconvenient. However, I don't want to
parse the environment configuration myself

## Proposal description

Exposes a function returning a `botocore.config.Config` object created
from the environment variables described in the README

### Additional context
This

[2022-09-13 12:06] sesheta commented on #2700
@VannTen:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g